// Block: article
.article_box_img{
	margin-left: -12px;
	margin-right: -12px;
	

	.img_box{
		width: 50%;
		text-align: center;
		margin: 0 12px;
		padding-top: 45px;
		
		img{
			width: auto;
		}
	}

	&__content{
		width: 44%;
		margin: 0 12px;
		
		p{
			font-size: 14px;
			line-height: 1.3;
		}
	}
}

.articles_wrap{
	margin-left: -15px;
	margin-right: -15px;
	
	.article_box{
		float: left;
		width: 47%;
		margin: 0 13px 30px;
	}
}

.article_box{

	.img_box{
		max-height: 182px;
		overflow: hidden;
		-webkit-border-radius: 10px;
		        border-radius: 10px;
		
		img{
			max-height: 100%;
			width: 100%;
		}
	}

	&__content{
		padding: 25px 15px 15px;
		
		p{
			line-height: 1.3;
		}
	}

	&__date{
		font-size: 16px;
		color: #F69530;
		line-height: 3;
		font-family: 'a_avantebsregular', sans-serif;
	}
	
	
}



// RESPONSIVE Blocks: _article

	@media only screen and (max-width: 1200px) {
		[data-prod="prod_right_top"]::after{
			right: 0;
		}

		.article_box_img {
			
			.img_box{
				width: 48%;
				img{
					width: 100%;
					height: auto;
					
				}
			}
		}
	}
	@media only screen and (max-width: 1024px) {
		
		
		.articles_wrap{
			
			.article_box{
				width: 46%;
			}
		}
		
	}

	@media only screen and (max-width: 768px) {
		
		.article_box_img {
			margin-left: 0;
			margin-right: 0;
			
			.img_box{
				width: 70%;
				float: none;
				margin: 0 auto 10px;
			}

			&__content{
				width: 100%;
				float: none;
				margin: 0;
			}
		}
		
	}

	@media only screen and (max-width: 570px) {
		

		.articles_wrap{
			margin-left: 0;
			margin-right: 0;
			
			.article_box{
				width: 100%;
				float: none;
				margin-left: 0;
				margin-right: 0;
			}

			.article_box__date{
				display: inline-block;
				width: 100%;
			}
			.article_box__date + a{float: left;}
		}

		[data-prod="prod_right_top"]::after{
			display: none;
		}
		
	}

	@media only screen and (max-width: 380px) {
		
		.article_box_img {
			
			.img_box{
				width: 100%;
			}
		}
		
	}