// Blocks: banners

.map_wrap{
	
	.map_box{
		width: 70%;
		float: left;
		display: block;
	}

	.issues_box{
		width: 30%;
		float: left;
		height: 476px;
		
		&__item{
			width: 100%;
			line-height: 1.1;
			padding-bottom: 5px;
			
			&:not(:last-child){
				border-bottom: 1px solid #ebeef0; 
			}
		}
		
		p{
			margin-bottom: 5px;
		}

		.jspVerticalBar{
			width: 26px;
		}

		.jspTrack{
			background-color: #FBF7F3;
		}

		.jspDrag{
			background-color: #F99801;
			-webkit-border-radius: 5px;
			        border-radius: 5px;
		}
	}
}

.main_banner_wrap{
	margin-top: -248px;
	padding-top: 248px;
	background: #000; //url(../../../images/main_bg.png) 50% 0 no-repeat
}
	.main_banner{
		padding: 70px 0 80px 0;
		position: relative;
		z-index: 10;
		
		.title--5{
			line-height: 1.2;
		}
	}


.orange_banner_wrap{
	position: relative;
	background-color: #F68901;
	border-top: 4px solid #F89E2F;
	-webkit-box-shadow: 0 -1px 0px #b1650e;
	        box-shadow: 0 -1px 0px #b1650e;
	
	&::before{
		content: "BODY FACTORY";
	    font-size: 145px;
	    position: absolute;
	    display: inline-block;
	    bottom: 0;
	    line-height: 0.65;
	    left: auto;
	    right: auto;
	    color: #FFF;
	    opacity: .09;
	    z-index: 5;
	    white-space: nowrap;
	    // letter-spacing: 5px;
	    text-align: center;
	    font-family: 'exo_2.0bold';
	    transform: translateX(400px);
	}
}
	.banner_type2{
		padding: 20px;
		margin: 0 -30px 0;
		position: relative;
		z-index: 20;
		
		

		&__item{

			.img_box{
				width: 100px;
				float: left;
				line-height: 60px;
				vertical-align: middle;
				text-align: center;
				
				img{
					width: auto;
					height: auto;
					vertical-align: middle;
				}
			}

			figcaption{
				float: left;
				width: calc(100% - 100px);
				
				.font_14{
					line-height: 1.2;
				}
			}
		}
	}

.teasers_wrap{
	padding: 24px 0;
	margin-bottom: 4px;
	background: url(../../../images/grey_pattern.png) 0 0 no-repeat;
	-webkit-background-size: 100% 100%;
	     -o-background-size: 100% 100%;
	        background-size: 100% 100%;
	
	.container{
		position: relative;
		
		&::after{
			content: "";
			position: absolute;
			right: -40px;
			top: 47%;
			width: 207px;
			height: 202px;
			z-index: 10;
			background: url(../../../images/whey_right.png) 50% 50% no-repeat;
		}
	}

	.teaser_wrap{
		position: relative;
		z-index: 20;
	}
	
		
}

	.col3{
		figure{
			width: 32%;
			float: left;
		}
	}



	[data-teaser-size="small"]{
		padding: 28px 35px;
		width: 42%;
		float: left;
		background: url(../../../images/teaser_2.png) 0 0 no-repeat;
	}

	[data-teaser-size="middle"]{
		padding: 28px 35px;
		width: 54%;
		float: left;
		margin-right: 30px;
		background: url(../../../images/teaser1.png) 0 0 no-repeat;
	}
	[data-teaser-size="large"]{
		padding: 34px 46px 48px;
		background: url(../../../images/teaser3.png) 0 0 no-repeat;
	}

.abs_official{
	position: absolute;
	top: 20px;
	right: 0;
}

.refill{
	
	&__item{
		width: auto;
		float: left;
		height: 85px;
		padding: 0 9px;
		line-height: 85px;
		vertical-align: middle;
		
		img{
			vertical-align: middle !important;
		}

		&.active,
		&:hover{
			background: rgb(246,130,37); /* Old browsers */
			background: -moz-linear-gradient(top, rgba(246,130,37,1) 0%, rgba(246,149,48,1) 31%, rgba(246,149,48,1) 71%, rgba(247,122,24,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(246,130,37,1) 0%,rgba(246,149,48,1) 31%,rgba(246,149,48,1) 71%,rgba(247,122,24,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(246,130,37,1) 0%,rgba(246,149,48,1) 31%,rgba(246,149,48,1) 71%,rgba(247,122,24,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f68225', endColorstr='#f77a18',GradientType=0 );
		}
	}
}


.ordering_info{
	height: 84px;
}

[data-block="blue_shadow_bdrd"]{
	background: #f7f8f9;
	overflow: hidden;
	-webkit-border-radius: 10px;
    		border-radius: 10px;
    -webkit-box-shadow: 0px -3px 3px #eee, 3px 0px 3px #eee, 0px 3px 3px #eee, -3px 0px 3px #eee;
    		box-shadow: 0px -3px 3px #eee, 3px 0px 3px #eee, 0px 3px 3px #eee, -3px 0px 3px #eee;
}
[data-block="white_shadow_bdrd"]{
	background: #fff;
	overflow: hidden;
	-webkit-border-radius: 10px;
    		border-radius: 10px;
    -webkit-box-shadow: 0px -3px 3px #eee, 3px 0px 3px #eee, 0px 3px 3px #eee, -3px 0px 3px #eee;
    		box-shadow: 0px -3px 3px #eee, 3px 0px 3px #eee, 0px 3px 3px #eee, -3px 0px 3px #eee;
}

[data-stripe="stripe_top_14"]{
	position: relative;
	
	&::before{
		content: "";
		top: 0;
		left: 14px;
		right: 14px;
		height: 2px;
		display: block;
		position: absolute;
		background-color: #E68001;
	}
}

[data-stripe="stripe_top_22"]{
	position: relative;
	
	&::before{
		content: "";
		top: 0;
		left: 22px;
		right: 22px;
		height: 2px;
		display: block;
		position: absolute;
		background-color: #E68001;
	}
}

.advert{
	
	.img_box{
		height: 135px;
		text-align: center;
		line-height: 135px;
		
		img{
			width: auto;
			line-height: 135px;
			vertical-align: middle;
		}
	}

	.title--6{
		margin-bottom: 20px;
		position: relative;
		
		&::after{
			content: "";
			position: absolute;
			bottom: -10px;
			width: 47px;
			height: 1px;
			left: 50%;
			background-color: #CBCBCC;
			-webkit-transform: translateX(-23px);
			   -moz-transform: translateX(-23px);
			    -ms-transform: translateX(-23px);
			     -o-transform: translateX(-23px);
			        transform: translateX(-23px);
		}
	}

	figcaption{
		padding: 0 15px 20px;
	}
}

.col_3_wrap{
	margin-left: -15px;
	margin-right: -15px;
	
	figure{
		width: 29.9%;
		float: left;
		margin: 0 15px 15px;
	}
}

.brand_block{
	
	padding: 35px 22px;
	
	.brand_logo{
		float: left;
		max-width: 135px;
		margin-top: -35px;
		margin-right: 20px;
	}

	.brand_info{
		float: left;
		font-size: 14px;
		width: calc(100% - 135px - 20px);
		
		p{
			line-height: 1.25;
			margin-bottom: 0;
		}
	}
}

.search_result{
	padding: 15px 30px 30px;
	margin-bottom: 35px;
	
	&__letter{
		margin-bottom: 30px;
		text-align: center;
		position: relative;
		
		&::before{
			content: '';
			left: 50%;
			-webkit-transform: translateX(-20%);
			   -moz-transform: translateX(-20%);
			    -ms-transform: translateX(-20%);
			     -o-transform: translateX(-20%);
			        transform: translateX(-20%);
		}

		&::after{
			content: '';
			right: 50%;
			-webkit-transform: translateX(20%);
			   -moz-transform: translateX(20%);
			    -ms-transform: translateX(20%);
			     -o-transform: translateX(20%);
			        transform: translateX(20%);
		}

		&::before,
		&::after{
			top: 50%;
			width: 45%;
			height: 1px;
			position: absolute;
			z-index: 5;
			background-color: #F69530;
		}
		
		span{
			font-size: 17.5px;
			color: #141414;
			width: 33px;
			height: 33px;
			line-height: 1.7;
			font-weight: bold;
			display: inline-block;
			background-color: #fff;
			border: 1px solid #F69530;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			position: relative;
			z-index: 15;
		}
	}

	&__list{
		display: inline-block;
		width: 20%;
		float: left;
		
		li{
			line-height: 1.5;
		}
	}
}

.box_padd{
	padding: 15px 24px 30px;
	
	.checkbox_wrap{
		padding-left: 180px;
	}
}

[data-prod="prod_right_top"]{
	position: relative;
	display: inline-block;
	width: 100%;
	
	&::after{
		content: "";
		top: -56px;
		right: -46px;
		width: 207px;
		height: 202px;
		position: absolute;
		display: block;
		background: url(../../../images/whey_right.png) 0 0 no-repeat;
	}
}




// RESPONSIVE Blocks: banners
	@media only screen and (max-width: 1400px) {
	    .orange_banner_wrap{
			
			&::before{
				transform: translateX(300px);
			}
		}
	}

	@media only screen and (max-width: 1280px) {
		.orange_banner_wrap{
			overflow: hidden;
			
			&::before{
				transform: translateX(250px);
			}
		}
	}


	@media only screen and (max-width: 1200px) {
		.teasers_wrap{
			
			.container{
				
				&::after{
					right: -15px;
				}
			}
		}
	}

	@media only screen and (max-width: 1199px) {
		.teasers_wrap{
			
			.container{
				
				&::after{
					right: 0px;
				}
			}
		}
		[data-teaser-size="middle"]{
			width: 53%;
		}

	}

	@media only screen and (max-width: 1023px) {
		
		
		.col_3_wrap{
			margin-left: -10px;
			margin-right: -10px;
			
			figure {
				margin-left: 10px;
				margin-right: 10px;
			}
		}
		.error_img_box{
			img{
				width: 100%;
				height: auto;
			}
		}

		.map_wrap .map_box{
			width: 68%;
		}

		.main_banner{
			padding: 25px 0;
		}

		.main_banner_wrap{
			margin-top: -243px;
			padding-top: 243px;
		}

		.main_menu_wrap + .container{
			div.mb150,
			div.mb75{margin-bottom: 5px;}

			div.mb150+br,
			div.mb75+br{display: none;}
		}
	}

	@media only screen and (max-width: 768px) {
		

		.orange_banner_wrap{
			&::before{
				font-size: 100px;
				transform: translateX(50px);
			}
		}

		.banner_type2{
			padding: 20px 20px 0;
		}

		.empty_box_for_main_menu{
			height: 0;
		}

		.ordering_info{
			height: auto;
		}
		
		.share_block_wrap{
			margin-left: 0;
			margin-right: 0;
		}

		.main_banner{
			padding: 0;
			margin-top: -20px;
		}

		.abs_official{
			top: 120px;
		}

		.col3 figure{
			width: 100%;
			float: none;
			margin-bottom: 10px;
		}

		[data-teaser-size="middle"]{
			margin-right: 15px;
		}

		.main_banner_wrap{
			padding-top: 223px;
		}
	}

	@media only screen and (max-width: 570px) {
		.map_wrap {
			.map_box{
				width: 100%;
				float: none;
				margin-bottom: 15px;
				
				*{
					height: 400px;
				}
			}

			.issues_box {
				width: 100% !important;
				float: none;
				
				.jspContainer{
					width: 100% !important;
				}
			}
		}

		.col_3_wrap{
			margin-left: 0px;
			margin-right: 0px;
			
			figure {
				width: 100%;
				float: none;
				margin-left: 0px;
				margin-right: 0px;
			}
		}
	}
	
	@media only screen and (max-width: 550px) {
		[data-teaser-size="middle"]{
			margin-right: 15px;
		}

		

		.brand_block{

			.brand_logo{
				float: none;
				margin-bottom: 20px;
			}
			
			.brand_info{
				float: none;
				width: 100%;
				margin-right: 0;
			}
		}


		
	}

	@media only screen and (max-width: 480px) {
		[data-teaser-size="middle"],
		[data-teaser-size="small"]{
			width: 100%;
			float: none;
			margin-bottom: 15px;
			-webkit-background-size: 100% 100%;
			     -o-background-size: 100% 100%;
			        background-size: 100% 100%;
		}
	}
	@media only screen and (max-width: 425px) {
		.main_banner{
			padding: 0 0 15px;
			
			.title--2_2{font-size: 20px;}
			.title--1{font-size: 30px;}
			.title--5{font-size: 15px;}
		}

		.refill{
			text-align: center;
			
			&__item{
				float: none;
				display: inline-block;
				
			}
		}

		.map_wrap {
			.map_box{
				*{
					height: 280px;
				}
			}

		}
	}