// Block: footer
footer{
	color: #FFF;
	overflow: hidden;
	position: relative;
	background-color: #33490B;
	border-bottom: 4px solid #73964A;
	
	&::before{
		content: "BODY FACTORY";
		font-size: 145px; //115
		position: absolute;
		display: inline-block;
		// bottom: -62px;
		white-space: nowrap;
		bottom: 0;
		line-height: 0.65;
		left: auto;
		right: auto;
		color: #FFF;
		opacity: .05;
		z-index: 5;
		letter-spacing: 5px;
		text-align: center;
		font-family: 'exo_2.0bold';
		transform: translateX(260px);
	}
	
	.footer{
		z-index: 15;
		position: relative;
		padding: 25px 15px 16px;
		

		&__col2{
			width: 16%;
			float: left;
			
			&:last-child{
				margin-left: 30px;
				width: 13%;
			}
		}
		&__col4{
			width: 33%;
			float: left;
		}

		&__col2,
		&__col4{
			margin: 0 3px;
		}

	}

	.col2{
		width: 50%;
		float: left;
	}

	.defrayal_box{
		margin-top: 35px;

		span{
			line-height: 1.1;
			display: inline-block;
		}
		
		&__list{
			display: inline-block;
			
			li{
				display: inline-block;
				margin-left: 5px;
			}
		}
	}
}

// RESPONSIVE Components: _footer
	@media only screen and (max-width: 1024px) {

		footer{
			
			.footer__col2{
				width: 15%;

				
				&:last-child{
					width: 15%;
					margin-left: 12px;
				}
			}

			.col2{
				a.font_21{
					font-size: 18px;
				}
			}

			.defrayal_box{
				
				span{font-size: 13px;}

				&__list{
					li{
						margin-left: 0;
					}
				}
			}
		}
	}

	// @media only screen and (max-width: 995px) {

	// 	footer{
			
	// 		.footer__col2{

				
	// 			&:last-child{
	// 				width: 16%;
	// 			}
	// 		}

	// 		.footer__col4{
	// 			width: 34%;
	// 		}

	// 	}
	// }

	@media only screen and (max-width: 1023px) {

		footer{

			&::before{
				font-size: 70px;
			}
			
			.footer__col2{
				width: 32%;
				margin-bottom: 15px;
				text-align: center;
				
				&:last-child{
					width: 30%;
				}
			}

			.footer__col4{
				width: 66%;
				text-align: center;
			}

		}
	}

	@media only screen and (max-width: 768px) {

		footer{

			.footer{
				padding: 25px 0;
			}

			&::before{
				transform: translateX(60px);
			}
			
			.footer__col2{
				width: 32%;
				
				&:last-child{
					width: 100%;
				}

				&:nth-child(2),
				&:nth-child(3){
				
					display: none;
				}
			}

			.footer__col4{
				width: 100%;
				margin-bottom: 20px;
			}

		}
	}


	@media only screen and (max-width: 480px) {

		footer{
			
			.footer__col2{
				width: 100%;
				float: none;
				
				&:nth-child(2),
				&:nth-child(3){
					width: 47%;
					float: left;
					
				}
			}

			.footer__col4{
				width: 100%;
				float: none;
				margin-bottom: 20px;
			}

		}
	}


	@media only screen and (max-width: 360px) {

		footer{
			
			.footer__col2{
				&:nth-child(2),
				&:nth-child(3){
					width: 100%;
					float: none;
					
				}
			}

			.col2{
				width: 100%;
				float: none;
				
				.call{
					margin-bottom: 5px;
					display: inline-block;
				}
			}

		}
	}