// Block: header
header{
	position: relative;
	
	.container{
		padding: 12px 15px;
	}

	.logo_box{
		float: left;
		width: 265px;
		height: auto;
		display: block;
		text-align: center;
		padding-bottom: 7px;
		border-right: 1px dashed #E3E3E3;
		
		img{
			max-width: 100%;
		}
	}
	.logo_wrap{
		width: 265px;
		float: left;
	}

	.search_form{
		margin-top: -15px;
	}

	.header__info{
		float: left;
		width: calc(100% - 265px);
		padding-left: 30px;
		margin-top: -5px;
		padding-bottom: 7px;
		
		&__row{
			
			div{
				float: left;
			}
			div:nth-child(2){
				margin-left: 15px;
				margin-right: 15px;
			}

			.shopcart + span{
				padding-left: 45px;
				display: block;
				margin-top: -7px;
			}

			.left_side{
				width: 65%;
			}

			.right_side{
				float: right;
				width: 250px;
				
				.list2{
					padding-left: 7px;
					padding-top: 7px;
				}
			}
		}

		.nutrition_menu,
		.menu2_btn{
			display: none;
		}
	}



	/*-------  mob styles  ------*/

	.menu_btn{
		display: none;
		float: right;
		width: 34px;
		height: 34px;
		margin-top: 30px;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		background: #73964a url(../../../images/icon/menu.png) 50% 50% no-repeat;
	}

	.menu_close{
		display: none;
		position: absolute;
		right: 10px;
		top: 10px;
		width: 45px;
		height: 45px;
		background: url(../../../images/icon/or_close.png) 50% 50% no-repeat;
	}

	.mob_shopcart_link{
		display: none;
		float: left;
		width: 34px;
		height: 34px;
		margin-top: 30px;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		background: #73964a url(../../../images/icon/icon_15.png) 50% 50% no-repeat;
	}

	.mob_search_form{
		display: none;
	}

	
}
.search_form{
		width: 100%;
		margin-top: 14px;
		border: 1px solid #D6D6D6;
		-webkit-border-radius: 5px;
		        border-radius: 5px;
		background-color: #FFF;
		-webkit-box-shadow: 2px 2px 0 #d9d9d9;
		        box-shadow: 2px 2px 0 #d9d9d9;
		
		&__input{
			color: #4c4c4c;
			font-size: 14px;
			line-height: 1.5;
			border: none;
			padding: 6px 0 6px 35px;
			width: calc(100% - 80px);
			font-family: 'PT Sans', sans-serif;
			background: transparent url(../../../images/icon/magnifier.png) 8px 9px no-repeat;
		}

		&__btn{
			border: none;
			color: #F68901;
			font-size: 14px;
			font-weight: bold;
			padding: 7px 25px 7px 5px;
			background: transparent url(../../../images/icon/or_right.png) 90% 11px no-repeat;
			font-family: 'PT Sans', sans-serif;
		}
	}


// RESPONSIVE header
	@media only screen and (max-width: 1199px) {

		header{
			
			.logo_box,
			.logo_wrap{
				width: 185px;
				float: left;
			}

			.header__info{
				padding-left: 15px;
				width: calc(100% - 185px);
				
				.left_side{
					
					div:first-child a{
						font-size: 18px;
					}

					div:nth-child(2) {
					    margin-left: 10px;
					    margin-right: 10px;
					}
				}

				.shopcart{
					padding: 5px 0 5px 40px;
					font-size: 16px;
					
					&+span{
						font-size: 14px;
						padding-left: 40px;
					}
				}

				&__row div.right_side{
					margin-right: 0;
				}
			}
		}
	}

	@media only screen and (max-width: 1023px) {
		header{
			

			.logo_box{
				width: 200px;
				border-right: none;
			}
			.logo_wrap{
				width: 100%;
				float: none;
			}

			.container{
				padding-bottom: 0;
			}

			.menu_btn{
				display: block;
				position: absolute;
				right: 15px;
				top: 0px;
			}

			.mob_shopcart_link{
				display: block;
			}
			.logo_box{
				float: none;
				margin-left: auto;
				margin-right: auto;

			}

			.mob_search_form{
				display: block;
				margin-top: 0;
			}

			.header__info{
				position: fixed;
				top: 0;
				width: auto;
				right: -325px;
				bottom: 0;
				z-index: 90;
				margin-top: 0;
				overflow: auto;
				max-height: 100%;
				padding-top: 50px;
				padding-right: 15px;
				padding-bottom: 20px;
				background-color: #FFF;
				
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
				
				-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
				        box-shadow: 0 0 5px rgba(0, 0, 0, .3);
				
				&__row {
					
					.left_side {
						width: 100%;
						float: none;
						margin-bottom: 15px;
					}
					.right_side {
						width: 100%;
						float: none;
						margin-left: 0 !important;
						
						.list2{
							padding-left: 0;
							margin-bottom: 15px;
							display: inline-block;
						}
					}
				}

				.nutrition_menu{
					display: block;
					position: relative;
					line-height: 3;
					margin-bottom: 3px;
					border-bottom: 1px solid #ccc;
					
					&::after{
						content: "";
						width: 7px;
						height: 10px;
						display: inline-block;
						padding-left: 15px;
						background: url(../../../images/icon/nav_next.png) 90% 0 no-repeat;
					}
				}

				.menu2_btn,
				.menu3_btn,
				.menu4_btn{
					display: block;
					position: relative;
					line-height: 3;
					margin-bottom: 3px;
					border-bottom: 1px solid #ccc;
					
					&::after{
						content: "";
						width: 7px;
						height: 10px;
						display: inline-block;
						padding-left: 15px;
						background: url(../../../images/icon/nav_next.png) 90% 0 no-repeat;
					}
				}
			}


			// .header__info__row .left_side div:nth-child(2),
			// .header__info__row .left_side div:last-child,
			// .header__info__row .left_side div{
			// 	width: 100%;
			// 	float: none;
			// 	margin-bottom: 15px;
			// 	display: none;
			// }

			// .header__info__row .left_side{
			// 	margin-top: 30px;
			// 	display: block;
				
			// 	div:first-child{
			// 		display: block;
			// 	}
			// }

			// .header__info__row .right_side{
			// 	display: none;
			// }

			// .header__info__row:last-child{
			// 	display: none;
			// }
			
			.header__info__row{
				display: none;
			}


		}

		.nav_overlay{
			.header__info{
				right: 0;
				left: 0;
			}
			
			.menu_close{
				display: block;
			}
		}
	}

	@media only screen and (max-width: 995px) {
		header{
			
			.header__info{
				
				.left_side{
					
					div:first-child a{
					}

					div:nth-child(2) {
					    margin-left: 5px;
					    margin-right: 5px;
					}
				}

				&__row div.right_side{
					
				}
			}
			.shopcart{
				font-size: 17px;
				padding: 5px 0px 4px 45px;
			}
		}
	}

	@media only screen and (max-width: 768px) {

		
	}

	@media only screen and (max-width: 668px) {
		header{
			
			.header__info{
				
				&__row{

					.left_side{
					
						div{
							
							&:first-child{
								width: 100%;
								margin-bottom: 15px;
								// text-align: center;
							}

							&:not(:first-child){
								width: 100%;
								margin: 0;
							}

							&:last-child{}
						}
					}
				}
			}
		}
	}

	@media only screen and (max-width: 550px) {
		header{
			
			.header__info{
				width: 100%;
				left: 100%;
				right: 0;
			}

		}
		.nav_overlay{
			.header__info{
				left: 0;
			}
		}
	}

	@media only screen and (max-width: 375px) {
		
		
		header{
			
			
		}
	}