// Block: _modals

.arcticmodal_container_box{
	width: 780px;
	max-width: 100%;
	min-width: 300px;
	background-color: #F7F8F9;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	font-family: 'PT Sans', Helvetica, sans-serif;
	
	.arcticmodal-close{
		top: 7px;
		right: 10px;
	}
}

.arcticmodal_box_min{
	width: 400px;
}

.notice{
	
	text-align: center;
	padding-top: 50px;
	padding-bottom: 40px;
	background: #f7f8f9 url(../../../images/whey_right.png) 85% 495% no-repeat;
	
	.arcticmodal-close{
		position: static;
		width: auto;
		height: auto;
		font-size: 14px;
		display: inline-block;
		margin-top: 50px;
	}
}

.cities{
	padding: 30px 23px;
	
	&__list{
		width: 20%;
		float: left;
		margin-bottom: 15px;
	}
}

.cities__list{
	li{
		
		&.active a,
		a:hover{
			color: #FFF;
			background-color: #F69530;
		}
	}

	&__link{
		color: #141414;
		width: 100%;
		line-height: 1.9;
		padding-left: 15px;
		display: inline-block;
		

	}
}

.registration{
	
	.phone_box{
		
		.form__input{
			width: calc(100% - 30px);
		}
	}
}

// RESPONSIVE _modals
	@media only screen and (max-width: 768px) {
		
		.arcticmodal_container_box{
			width: 97%;
			margin-left: auto;
			margin-right: auto;
		}

		.notice{
			background-position: 90% 395%;
		}

		.cities__list__link{
			padding-left: 6px;
		}
	}

	@media only screen and (max-width: 550px) {
		.cities__list{
			width: 33%;
		}
	}

	@media only screen and (max-width: 480px) {
		.arcticmodal-container_i2{
			padding: 15px 0px;
		}

		.notice{
			background-image: none;
		}
	}

	@media only screen and (max-width: 420px) {
		.cities__list{
			width: 50%;
		}
	}

	@media only screen and (max-width: 360px) {
		.cities__list{
			width: 100%;
			float: none;
		}
	}