// Block: slider
.sale_wrap{
	margin-left: -15px;
	margin-right: -15px;
	
	.sale{
		width: 46%;
		float: left;
		margin-left: 15px;
		margin-right: 15px;
	}
}

.sale{
	
	
	&__price{
		overflow: hidden;
		height: 170px;
		line-height: 170px;
		padding: 0 150px 0 25px;
		position: relative;
		background: url(../../../images/sale.png) 0 0 no-repeat;
		-webkit-background-size: 100% 100%;
		     -o-background-size: 100% 100%;
		        background-size: 100% 100%;
		
		-webkit-border-radius: 0 7px 0 0;
		        border-radius: 0 7px 0 0;
		
		&::before{
			content: "";
			top: 0;
			bottom: 0;
			left: 0;
			right: 150px;
			position: absolute;
			display: block;
			z-index: 5;
			background: url(../../../images/sale_bg.png) 0 0 no-repeat;
			-webkit-background-size: 100% 100%;
			     -o-background-size: 100% 100%;
			        background-size: 100% 100%;
		}

		h6{
			position: relative;
			z-index: 10;
			color: #FFF;
			font-size: 85px;
			text-align: center;
			font-family: 'exo_2.0bold', sans-serif;
		}
	}

	&__content{
		padding: 25px 15px;
		background-color: #F7F8F9;
		-webkit-box-shadow: 0px -2px 2px #eee, 2px 0px 2px #eee, 0px 2px 2px #eee, -2px 0px 2px #eee;
		        box-shadow: 0px -2px 2px #eee, 2px 0px 2px #eee, 0px 2px 2px #eee, -2px 0px 2px #eee;
		
		p{
			line-height: 1.3;
			margin-bottom: 20px;
		}
	}
}

// RESPONSIVE Blocks: _sale
	@media only screen and (max-width: 768px) {
		.sale__price{
			padding-left: 15px;
			
			h6{
				font-size: 65px;
			}
		}
	}

	@media only screen and (max-width: 570px) {

		.sale_wrap {
			margin-left: 0;
			margin-right: 0;
			
			.sale{
				width: 100%;
				float: none;
				margin-left: 0;
				margin-right: 0;
				margin-bottom: 15px;
				
				&__price{

					h6{
						font-size: 50px;
					}

					-webkit-background-size: auto 100%;
					     -o-background-size: auto 100%;
					        background-size: auto 100%;
				}
			}
		}
	}