.share_block{
	width: 47.5%;
	float: left;
	display: inline-block;
	margin: 0 10px 10px;
	
	.img_box{
		width: 50%;
	}
	
	&__item{
		width: 49%;
		padding: 18px 15px 22px;
		background: #FFF;
		border-radius: 0 10px 10px 0;
		// border: 1px solid #e9e9e9;
		-webkit-box-shadow: 0 -3px 3px #e9e9e9, 3px 0 3px #e9e9e9, 0 3px 3px #e9e9e9, 0 0 0 #e9e9e9;
		        box-shadow: 0 -3px 3px #e9e9e9, 3px 0 3px #e9e9e9, 0 3px 3px #e9e9e9, 0 0 0 #e9e9e9;
	}
}
.share_block_wrap{
	margin-left: -10px;
	margin-right: -10px;
}



[data-border-left='orange']{border-left: 2px solid #f68901;}
[data-border-left='green']{border-left: 2px solid #73964a;}
// ========================================================

.interesting_block{
	overflow: hidden;
	border-radius: 0 0 10px 10px;
	-webkit-box-shadow: 0 -5px 5px #e9e9e9, 5px 0 5px #e9e9e9, 0 5px 5px #e9e9e9, -5px 0 5px #e9e9e9;
		    box-shadow: 0 -5px 5px #e9e9e9, 5px 0 5px #e9e9e9, 0 5px 5px #e9e9e9, -5px 0 5px #e9e9e9;
	// box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.interesting{
	padding: 15px 12px;
}

.interesting__item{
	padding: 20px;
	height: auto;
	
	a{
		display: block;
		margin-bottom: 18px;
	}
}

// =================================================
.example1 {
    padding-top:118px;
    width:98%;
    padding-left:30px;
    height:320px;
    background: url("../../../images/baner4.jpg") 50% 50% no-repeat;
    border-radius: 0 0 10px 10px;
    border-top: 2px solid #f68901;
}
// ========================================
.wll_subscribe{
	width: 100%;
	border: 1px dashed #73964a;
    border-radius:  0 0 10px 10px;
	padding: 3px;
}

.wll_subscribe_block{
	width: 100%;
	background: #73964a;
	padding: 25px;
	border-radius: 0 0 10px 10px;
	border: 1px solid #e9e9e9;
}

.wll_subscribe_email input{
	width: 100%;
	height: 34px;
	border-radius: 5px;
	color: #5e411b;
	padding: 15px;
	border: none;
}
// ==========================================================

.contact_form_wrapp {
    width: 100%;
}

.contact_form_wrapp .contact_form {
	border-radius: 10px;
   -webkit-box-shadow: 0 -5px 5px #e9e9e9, 5px 0 5px #e9e9e9, 0 5px 5px #e9e9e9, -5px 0 5px #e9e9e9;
		   box-shadow: 0 -5px 5px #e9e9e9, 5px 0 5px #e9e9e9, 0 5px 5px #e9e9e9, -5px 0 5px #e9e9e9;
	padding: 25px;
}


.form_row {
    width: 377px;
    margin-bottom: 15px;
    position: relative;
}
.form_box2{
	width: 790px;
}

.form_row input[type="text"] {
    width: 100%;
    line-height: 45px;
    background: #fff;
    border-radius: 10px;
    margin-top: 13px;
    border: 1px solid #dcdcdc;
    color: #646464;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 0 12px;
    resize: none;
}

.form_row textarea{
    width: 100%;
    height: 101px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    padding: 18px 12px;
    margin-top: 13px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    resize: none;
}

.box_bg{
	
}

.not_found__img_box{
	
}

// ==================================================================================//


.check_list{
    width: 590px;
    margin-top: 6px;
    margin-bottom: 26px;
    
    .rating_row__checkbox{
    	width: 100%;
    }

    p{
    	padding-left: 24px;
    }
}


// RESPONSIVE _share_and_news

	@media only screen and (max-width: 1999px) {

		.share_block{
			width: 47%;
			height: 229px;
			
			&__item,
			.img_box{
				height: 100%;
			}

			&__item{
				.title--7{
					margin-bottom: 15px;
				}
			}

			.img_box{
				text-align: center;
				
				img{
					height: 100%;
					width: auto;
				}
			}
		}
	}
	@media only screen and (max-width: 1023px) {

		.interesting__item {
			img{
				width: 100%;
			}
		}

		.share_block{
			width: 47%;
			
			
			&__item{
				padding: 10px 15px;
				
				.title--7{
					margin-bottom: 5px;
				}

				.btn_1{
					padding: 5px 14px;
				}
			}
		}

		.interesting__item{
			width: 33.33%;
			float: left;
		}
	}

	@media only screen and (max-width: 768px) {


		.example1{
			width: 50%;
			margin-left: auto;
			margin-right: auto;
			
			-webkit-background-size: 100% auto;
			     -o-background-size: 100% auto;
			        background-size: 100% auto;
		}

		.not_found__img_box{
			width: 50%;
			margin-left: auto;
			margin-right: auto;
			height: auto;
			
			img{
				max-width: 100%;
				height: auto;
			}
		}

		

		.check_list{width: 100%;}

		.share_block{
			width: 100%;
			float: left;
			margin: 0 0 20px;
			
			
			&__item{
				padding: 10px 15px;
				
				.title--7{
					margin-bottom: 5px;
				}

				.btn_1{
					padding: 5px 14px;
				}
			}
		}
		
		.resize_img_box{
			width: 40%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@media only screen and (max-width: 667px) {
		
	}

	@media only screen and (max-width: 550px) {
		.share_block{
			width: 100%;
			float: none;
			margin: 0 0 15px;
			
			.img_box{
				background-color: #000;
			}
		}
		.share_block_wrap{
			margin-left: 0;
			margin-right: 0;
		}
	}
	@media only screen and (max-width: 480px) {
		
		.interesting__item{
			width: 100%;
			float: none;
		}

		.example1{
			width: 100%;
		}

		.share_block {
			height: auto;
			
			.img_box{
				width: 100%;
				float: none;
			}

			&__item{
				width: 100%;
				float: none;
				-webkit-border-radius: 0 0 10px 0;
				        border-radius: 0 0 10px 0;
				-webkit-box-shadow: 3px 3px 3px #e9e9e9;
				        box-shadow: 3px 3px 3px #e9e9e9;
			}
		}
	}