// Block: slider
.slider_brand{
	background-color: #FFF;
	-webkit-box-shadow: 0px -5px 5px #ebebeb;
	        box-shadow: 0px -5px 5px #ebebeb;
	

	.title--6{
		float: left;
		margin-right: 20px;
		display: inline-block;
		padding: 26px 0 26px 40px;
	}

	.slider_brand__owl{
		padding: 14px 65px;
		float: right;
		width: calc(100% - 150px);
		
		.owl-prev,
		.owl-next{
			top: -14px;
		}
		
		.img_box{
			margin: 0 22px;
			vertical-align: middle;
			line-height: 72px;
			text-align: center;
			
			img{
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
				line-height: 72px;
				vertical-align: middle;
			}
		}
	}
}

.slider_brand__owl{
	overflow: hidden;
	padding: 0 65px;
	
	.owl-carousel{
	}
	
	.owl-prev,
	.owl-next{
		width: 65px;
		height: 100px;
		top: 0px;
		margin-top: 0;
		cursor: pointer;
		position: absolute;
		text-indent: -999px;
		// background-color: rgba(246, 137, 1, .2);
	}
	.owl-prev{
		left: -65px;
		background: #fbf7f3 url(../../../images/icon/brand_left.png) 50% 50% no-repeat;
	}
	.owl-next{
		right: -65px;
		background: #fbf7f3 url(../../../images/icon/brand_right.png) 50% 50% no-repeat;
	}
	.owl-prev:hover,
	.owl-next:hover{
		background-color: #FBEBDC;
	}

	.owl-item{
		
	}
	.img_box{
		margin: 0 22px;
		vertical-align: middle;
		line-height: 72px;
		text-align: center;
		
		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
			line-height: 72px;
			vertical-align: middle;
		}
	}
}

.slider_prod{
	
	.owl-prev,
	.owl-next{
		height: 125px;
	}

	.owl-item{
		display: inline-block;	
	}

	.img_box{
		margin: 0 7px;
		height: 125px;
		text-align: center;
		
		img{
			height: 100%;
			line-height: 125px;
		}
	}
}

.slider_brand_double{
	overflow: hidden;
	position: relative;
	background: #fff;
	padding: 25px 34px 0;
    -webkit-border-radius: 10px;
    		border-radius: 10px;
    -webkit-box-shadow: 0px -3px 3px #eee, 3px 0px 3px #eee, 0px 3px 3px #eee, -3px 0px 3px #eee;
    		box-shadow: 0px -3px 3px #eee, 3px 0px 3px #eee, 0px 3px 3px #eee, -3px 0px 3px #eee;
	
	&::before{
		content: "";
		top: 0;
		left: 22px;
		right: 22px;
		height: 2px;
		position: absolute;
		background-color: #E68001;
	}

	.swiper-slide{
		line-height: 60px;
		vertical-align: middle;
		margin-bottom: 25px;
		
		img{
			line-height: 60px;
			vertical-align: middle;
		}
	}

	.swiper-button-next{
		right: 0;
		background: #fff url(../../../images/icon/brand_right.png) 50% 50% no-repeat;
	}

	.swiper-button-prev{
		left: 0;
		background: #fff url(../../../images/icon/brand_left.png) 50% 50% no-repeat;
	}

	.swiper-button-next,
	.swiper-button-prev{
		top: 2px;
		bottom: 0;
		width: 34px;
		height: 100%;
		margin-top: 0;
		opacity: 1;
	}
}


.store_slider{
	overflow: hidden;
	position: relative;
	padding: 8px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0px -2px 2px #eee, 2px 0px 2px #eee, 0px 2px 2px #eee, -2px 0px 2px #eee;
            box-shadow: 0px -2px 2px #eee, 2px 0px 2px #eee, 0px 2px 2px #eee, -2px 0px 2px #eee;

	&__main.owl-carousel{
		padding-right: 160px;
		overflow: hidden;
	}

	&__thumbs.owl-carousel{
		position: absolute;
		right: 0px;
		top: 30px;
		bottom: 30px;
		width: 173px;
		padding-left: 7px;
		padding-right: 7px;
		background-color: #FFF;
		
		padding-top: 25px;
		
		.owl-item{
			width: auto !important;
			float: none;
			margin-bottom: 7px;
			cursor: pointer;
		}

		.owl-wrapper{
			width: 100% !important;
		}
	}

	.owl-controls{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
	
	}

	.owl-prev,
	.owl-next{
		right: -5px;
		width: 170px;
		
		cursor: pointer;
		color: transparent;
		display: inline-block;
		position: absolute;
		background: #FFF url(../../../images/icon/or_down.png) 50% 50% no-repeat;
	}

	.owl-prev{
		top: 0;
		-webkit-border-radius:0 0 0 5px;
		        border-radius:0 0 0 5px;
		-webkit-transform: rotate(180deg);
		   -moz-transform: rotate(180deg);
		    -ms-transform: rotate(180deg);
		     -o-transform: rotate(180deg);
		        transform: rotate(180deg);
	}


	.owl-next{
		bottom: 0;
		-webkit-border-radius: 0 5px 0 0;
		        border-radius: 0 5px 0 0;
	}

		
}

.main_slider{
	display: block;
	
	&_js{
		position: absolute;
		top: 222px;
		bottom: 0;
		left: 50%;
		max-height: 395px;
		max-width: 1170px;
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		     -o-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	
	.owl-carousel{
		overflow: hidden;
	}
	
	& + .container{
		z-index: 50;
	}
}



// RESPONSIVE Blocks: _slider
	@media only screen and (max-width: 1199px) {

		.slider_brand .slider_brand__owl {
			padding: 12px 65px;
			
			.owl-carousel .owl-item img{
				width: auto;
					margin-left: auto;
    			margin-right: auto;
			}
		}

		// .slider_brand  .slider_brand__owl {
		// 	padding: 34px 65px;
		// 	margin-top: -20px;
			
		// }
	}

	@media only screen and (max-width: 1023px) {
		.main_slider_js{
			top: 203px;
			max-height: 300px;
		}

		.slider_prod{
			
			.owl-next,
			.owl-prev{
				height: 100px;
			}
		}

		.store_slider__thumbs {
			
			.owl-thumb-item{
				height: 70px;
				text-align: center;
				img{
					height: 100%;
					width: auto;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}

		.main_slider{
			
			&__item{
				text-align: center;
				
				img{
					height: 100% !important;
					width: auto !important;
				}
			}
		}

		.slider_brand{
			.col-lg-12.col-xs-12{
				margin-bottom: 0;
			}

			&__owl{
				height: 100px;
			}
		}
	}

	@media only screen and (max-width: 768px) {

		.main_slider{

			.owl-item{
				// height: 330px;
			}
			
			&__item{
				height: 100%;
				overflow: hidden;
				
			}
		}

		.store_slider__thumbs.owl-carousel .owl-wrapper{
			transform: none !important;
		}


		.main_slider_js{
			top: 213px;
			max-height: 300px;
			min-height: 290px;
		}
		
		.slider_brand{
			[data-title="title_icon_apple"]{display: none;}

			.slider_brand__owl{
				width: 100%;
				float: none;
				margin-top: 0;
				padding: 14px 65px 22px;
			}

			.col-lg-12{margin-bottom: 0;}
		}
	}

	@media only screen and (max-width: 570px) {
		.store_slider {

			&__main.owl-carousel{
				width: 100%;
				float: none;
				padding-right: 0;
				padding-bottom: 100px;
			}
			
			&__thumbs.owl-carousel{
				width: auto;
				top: auto;
				bottom: 0;
				right: 30px;
				left: 30px;
				
				.owl-wrapper{text-align: center;}
				
				.owl-item{
					display: inline-block;
					margin-left: 3px;
					margin-right: 3px;
					
					max-width: 30%;
					
					img{
						width: 100%;
					}
				}
			}

			.owl-controls{
				top: auto;
				left: 0;
				right: 0;
				
			}

			.owl-prev{
				top: auto;
				right: auto;
				left: 0;
				bottom: 0;
				width: 30px;
				height: 100px;
				cursor: pointer;
				-webkit-transform: rotate(90deg);
				   -moz-transform: rotate(90deg);
				    -ms-transform: rotate(90deg);
				     -o-transform: rotate(90deg);
				        transform: rotate(90deg);
			}

			.owl-next{
				top: auto;
				right: 0;
				left: auto;
				bottom: 0;
				width: 30px;
				height: 100px;
				cursor: pointer;
				
				-webkit-transform: rotate(270deg);
				   -moz-transform: rotate(270deg);
				    -ms-transform: rotate(270deg);
				     -o-transform: rotate(270deg);
				        transform: rotate(270deg);
			}
		}

		.main_slider_js{
			min-height: 200px;
			max-height: 250px;
		}
	}

	@media only screen and (max-width: 550px) {
		.main_slider_js{
			min-height: 200px;
			max-height: 250px;
		}
	}

	@media only screen and (max-width: 480px) {

		.swiper-slide{text-align: center;}
	}

	@media only screen and (max-width: 425px) {
		.main_slider_js{
			
		}

		.main_slider{

			.owl-item{
				height: 300px;
			}
		}
	}