// Blocks: tabs

.tabs{
	margin-bottom: 20px;
	
	.r-tabs-panel{
		padding: 15px 0 !important;
	}
	

	&__nav{
		border-bottom: 2px solid #F68901;
		
		li{
			overflow: hidden;
			
			-webkit-border-radius: 5px 5px 0 0;
			        border-radius: 5px 5px 0 0;
			
			&:not(:first-child){
				margin-left: -4px !important;
			}
		}

		li:hover{
			background-color: rgba(246, 137, 1, .15);
			
			// a{color: #FFF;}
		}
		
		a{
			color: #73964A;
			font-size: 18px;
			padding: 10px 22px;
			position: relative;
			display: inline-block;
			font-family: 'exo_2.0regular';
			
			&:not(:last-child)::after{
				content: "";
				top: 13px;
				right: 0;
				width: 1px;
				height: 16px;
				background-color: #ECE9E7;
			}
		}
		.r-tabs-state-active{
			background: rgb(250,160,1); 
			background: -moz-linear-gradient(left, rgba(250,160,1,1) 0%, rgba(254,188,0,1) 27%, rgba(254,188,0,1) 38%, rgba(246,137,1,1) 100%); 
			background: -webkit-linear-gradient(left, rgba(250,160,1,1) 0%,rgba(254,188,0,1) 27%,rgba(254,188,0,1) 38%,rgba(246,137,1,1) 100%); 
			background: linear-gradient(to right, rgba(250,160,1,1) 0%,rgba(254,188,0,1) 27%,rgba(254,188,0,1) 38%,rgba(246,137,1,1) 100%); 
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faa001', endColorstr='#f68901',GradientType=1 );
			    
			    a{
			    	color: #FFF;
			    	font-family: 'exo_2.0bold';
			    }
		}
	}

	&__content{
		
		.btn_2{
			font-family: 'PT Sans', sans-serif;
		}

		.title--5{
			line-height: 2;
		}
	}
}


.tabs_type2{
	
	
	.tabs__nav{
		margin-bottom: 20px;
		border-bottom-color: transparent;
		
		li{
			border-bottom: 2px solid #F68901;
			
		}
		
		a{
			text-transform: uppercase;
		}
	}


	.post{
		padding-left: 71px;
		background: url(../../../images/icon/wh_bus.png) 20px 50% no-repeat;
	}

	.tabs_btn_wrap{
		position: relative;
		
		.btn_1{
			margin-right: 5px;
		}

		.form__row:last-child{
			margin-left: 5px;
		}
	}

}

.tabs_type3{
	
	.tabs__nav{
		margin-bottom: 30px;
		border-bottom-color: transparent;
		
		li{
			border-bottom: 2px solid #F68901;
			
		}

		a{
			padding-right: 40px;
			background: url(../../../images/icon/or_down.png) 93% 50% no-repeat;
		}

		.r-tabs-state-active{
			
			a{
				background: url(../../../images/icon/wh_down.png) 93% 50% no-repeat;
			}
		}
	}
}





// RESPONSIVE _tabs

	@media only screen and (max-width: 1198px) {
		.tabs__nav a{
			padding: 10px 17px;
		}
	}
		
	@media only screen and (max-width: 1024px) {
		.tabs__nav{
			li{
				a{
					padding: 10px 18px;
				}
			}
		}
	}

	@media only screen and (max-width: 768px) {
		
		.tabs__content{
			
			.r-tabs-accordion-title{
				border: 1px solid #CACACA;
				-webkit-border-radius: 5px;
				        border-radius: 5px;
				position: relative;
				margin-bottom: 15px;
				
					a{
						color: #141414;
					    font-size: 18px;
					    font-weight: bold;
					    padding: 10px 22px;
					    position: relative;
					    display: inline-block;
					    width: 100%;
					    text-align: center;
					    text-transform: uppercase;
					    font-family: 'PT Sans', sans-serif;
					}

					&::after{
						content: "";
						position: absolute;
						right: 15px;
						top: 15px;
						width: 15px;
						height: 23px;
						background: url(../../../images/icon/right.png) 50% 50% no-repeat;
						-webkit-transform: rotate(90deg);
						   -moz-transform: rotate(90deg);
						    -ms-transform: rotate(90deg);
						     -o-transform: rotate(90deg);
						        transform: rotate(90deg);
						
						-webkit-transition: all 0.3s ease;
					    -moz-transition: all 0.3s ease;
					    -o-transition: all 0.3s ease;
					    transition: all 0.3s ease;
					}
				    			
				&.r-tabs-state-active{
					margin-bottom: 0;
					a{
						
					}
					
					position: relative;
				    -webkit-border-radius: 5px 5px 0 0;
				            border-radius: 5px 5px 0 0;
					
					&::after{
						-webkit-transform: rotate(-90deg);
						   -moz-transform: rotate(-90deg);
						    -ms-transform: rotate(-90deg);
						     -o-transform: rotate(-90deg);
						        transform: rotate(-90deg);
					}
				}
			}

			.r-tabs-panel{
				padding: 15px 10px !important;
				margin-top: -5px;
				margin-bottom: 15px;
				background-color: #FFF;
				
				position: relative;
				border-left: 1px solid #CACACA;
				border-right: 1px solid #CACACA;
				border-bottom: 1px solid #CACACA;
				-webkit-border-radius: 0 0 5px 5px;
				        border-radius: 0 0 5px 5px;
			}

				
		}

		.tabs_type2 .tabs_btn_wrap .form__row:last-child{
			margin-left: 0;
		}
	}

	@media only screen and (max-width: 667px) {
		
		.tabs_type2{
			
			.tabs_btn_wrap{

				.btn_1{
					margin-bottom: 15px;
				}
				
				.form__row{
					float: left;
					
					&:last-child{
						margin-left: 0;
						width: 100%;
						// margin-top: 10px;
						// float: left;
					}
				}
			}
		}
	}