// Components: accordion

.accordion{
	
	&__item{
		-webkit-transition: all 0.7s ease;
	    -moz-transition: all 0.7s ease;
	    -o-transition: all 0.7s ease;
	    transition: all 0.7s ease;

		&__link{
			cursor: pointer;
		}

		.sub-menu{
			display: none;
			// -webkit-transition: all 0.7s ease;
		    // -moz-transition: all 0.7s ease;
		    // -o-transition: all 0.7s ease;
		    // transition: all 0.7s ease;
		}
	}
}

.accordion_col3{
	margin: 0 -15px;
	
	.accordion__item{
		
		float: left;
		width: 29%;
		margin: 0 15px 15px;
		overflow: hidden;
		background-color: #FFF;
		-webkit-border-radius: 5px;
		        border-radius: 5px;
	    -webkit-box-shadow: 0px -5px 2px #f6f6f6, 5px 0px 2px #f6f6f6, 0px 5px 2px #f6f6f6, -5px 0px 2px #f6f6f6;
	        	box-shadow: 0px -5px 2px #f6f6f6, 5px 0px 2px #f6f6f6, 0px 5px 2px #f6f6f6, -5px 0px 2px #f6f6f6;
		
	}

	.accordion__item__link{
		width: 100%;
		color: #73964A;
		font-size: 16px;
		position: relative;
		display: inline-block;
		background-color: #F7F8F9;
		font-family: 'exo_2.0bold';
		padding: 18px 14px 18px 18px;
		
		&::after{
			content: "";
			position: absolute;
			right: 18px;
			top: 18px;
			width: 22px;
			height: 21px;
			-webkit-border-radius: 3px;
			        border-radius: 3px;
			background: #fff url(../../../images/icon/accord_arrow.png) 0 0 no-repeat;
		}
	}

	.sub-menu{
		padding: 15px 20px;
		min-height: 187px;
	}
}

.accordion_type2{

	.accordion__item{

		&:not(:last-child){
			border-bottom: 1px dashed #56493b;
		}

			
		
		
		&__link{
			padding: 12px 0;
			
			&.active,
			&:hover{
				
				.prod_count{
					a{border-bottom-color: transparent;}
				}
			}
		}
	}
	
	.shop_logo{
		width: 8%;
		float: left;
		text-align: center;
		
		span{
			width: 23px;
			height: 22px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			color: #FFF;
			text-align: center;
			line-height: 1.55;
			font-weight: bold;
			padding: 0 1px;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			background-color: #F68901;
		}
	}

	.shop_addr{
		width: 75%;
		float: left;
		color: #5A4730;
	}

	.prod_count{
		width: 17%;
		float: left;
		color: #33490B;
		
		a{
			border-bottom: 1px dashed #33490b;
			
			&:hover{
				border-bottom-color: transparent;
			}
		}
	}
}

.accord_table{
	
	tr{
		width: 100%;
		display: block;
		padding-left: 8%;
		background-color: #FBF7F3;
		
		
		&:not(:last-child){
			border-bottom: 3px solid #fff;
		}
		
		
		td:first-child{
			width: 178px;
			line-height: 2.7;
		}
		td:nth-child(2){
			width: 150px;
			line-height: 2.7;
		}
		td:nth-child(3){
			width: 143px;
		}
		td:last-child{}
	}
}

.accordion_type3{

	.accordion__item{
		margin-bottom: 20px;
	}
	
	.text_box__title{
		position: relative;
		padding-right: 60px;
		
		&::after{
			content: "";
			position: absolute;
			top: 13px;
			right: 13px;
			width: 32px;
			height: 32px;
			display: block;
			background: url(../../../images/icon/accord_arrow2.png) 50% 50% no-repeat;
		}

		&.active{
			&::after{
				-webkit-transform: rotate(180deg);
				   -moz-transform: rotate(180deg);
				    -ms-transform: rotate(180deg);
				     -o-transform: rotate(180deg);
				        transform: rotate(180deg);
			}
		}
		
		&__right{
			a{
				margin-left: 15px;
				line-height: 30px;
			}
		}
	}

	.text_box__content{
		padding-right: 33px;
	}
}



// RESPONSIVE _accordion
	
	@media only screen and (max-width: 766px) {
		.accordion_col3{
			margin-left: 0;
			margin-right: 0;
			
			.accordion__item{
				width: 100%;
				float: none;
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	@media only screen and (max-width: 667px) {
		// .accordion_col3{
			
		// 	.accordion__item{width: 28%;}


		// }

		.accordion_type3 .text_box__title__right a:first-child{
				margin-left: 0;
			}
	}

	@media only screen and (max-width: 550px) {
		

		.accordion_type2{
			
			.shop_addr{
				width: 65%;
			}
			.prod_count {
				width: 25%;
			}
		}
	}