// Components: filter

.filter_block{
	width: 100%;
	// text-align: center;
	display: inline-block;
	
	.title--7{
		color: #56493B;
		line-height: 2.3;
	}
}

.filter{
	display: inline-block;
	
	
	
	&__box{
		margin-left: 30px;
		width: auto;
		border: none;
		float: left;
		
		.jq-selectbox__select-text{
			color: #73964A;
		}
		
		&.active{
			position: relative;
			
			.jq-selectbox__select-text{
				color: #56493B;
			}
			
			&::after{
				content: "";
				position: absolute;
				width: 42px;
				height: 36px;
				left: 50%;
				top: 3px;
				-webkit-transform: translateX(-30px);
				   -moz-transform: translateX(-30px);
				    -ms-transform: translateX(-30px);
				     -o-transform: translateX(-30px);
				        transform: translateX(-30px);
				background: url(../../../images/icon/arrow.png) 50% 50% no-repeat;
			}

		}

		.jq-selectbox__select{
			padding-right: 30px;
		}
	}
}

.filter_dropdown{
	position: absolute;
	width: 183px;
	left: 195px;
	top: 42px;
	z-index: 30;
	display: none;
	padding: 20px 14px 5px;
	background-color: #FBFBFB;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: 0px -2px 2px rgba(220, 220, 221, 0.7), 2px 0px 2px rgba(220, 220, 221, 0.7), 0px 2px 2px rgba(220, 220, 221, 0.7), -2px 0px 2px rgba(220, 220, 221, 0.7);
    		box-shadow: 0px -2px 2px rgba(220, 220, 221, 0.7), 2px 0px 2px rgba(220, 220, 221, 0.7), 0px 2px 2px rgba(220, 220, 221, 0.7), -2px 0px 2px rgba(220, 220, 221, 0.7);
	
	&::after{
		content: "";
		height: 2px;
		left: 10px;
		right: 10px;
		bottom: 0;
		position: absolute;
		display: inline-block;
		background-color: #F68901;
	}

	&__first{
		
		.form__label{
			line-height: 1 !important;
			display: inline-block;
			width: calc(100% - 40px);
		}
	}

	.form .form__row:last-child{
		margin-left: 0;
	}
}

.filter_overlay{
	.filter_dropdown{display: block;}
}

.catalog_list_link{
	width: 20px;
	height: 48px;
	display: block;
	background: url(../../../images/icon/list.png) 50% 50% no-repeat;
	
	&.active{
		background-image: url(../../../images/icon/list_act.png);
	}
}

.catalog_table_link{
	width: 20px;
	height: 48px;
	display: block;
	background: url(../../../images/icon/table.png) 50% 50% no-repeat;
	
	&.active{
		background-image: url(../../../images/icon/table_act.png);
	}
}

.catalog_view{
	position: relative;
	display: inline-block;
	float: right;
	
	.catalog_list_link{
		margin: 0 5px;
	}

	.catalog_table_link{
	}

	.catalog_list_link,
	.catalog_table_link{
		display: inline-block;
		
		&:hover{
			opacity: .7;
		}
	}
}

.catalog_filter{
	float: left;
	text-align: center;
	
	li{
		overflow: hidden;
		-webkit-border-radius: 5px 5px 0 0;
		        border-radius: 5px 5px 0 0;
		display: inline-block;
		border-bottom: 2px solid #F68901;
		
		&:not(:first-child){
			margin-left: -4px;
		}
		
		a{
			color: #73964A;
			font-size: 18px;
			padding: 10px 40px 10px 22px;
			position: relative;
			display: inline-block;
			font-family: 'exo_2.0regular';
			
			background: url(../../../images/icon/or_down.png) 93% 50% no-repeat;
		}

		&.active{
			background: rgb(250,160,1); 
			background: -moz-linear-gradient(left, rgba(250,160,1,1) 0%, rgba(254,188,0,1) 27%, rgba(254,188,0,1) 38%, rgba(246,137,1,1) 100%); 
			background: -webkit-linear-gradient(left, rgba(250,160,1,1) 0%,rgba(254,188,0,1) 27%,rgba(254,188,0,1) 38%,rgba(246,137,1,1) 100%); 
			background: linear-gradient(to right, rgba(250,160,1,1) 0%,rgba(254,188,0,1) 27%,rgba(254,188,0,1) 38%,rgba(246,137,1,1) 100%); 
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faa001', endColorstr='#f68901',GradientType=1 );
			
			a{
				color: #FFF;
				background: url(../../../images/icon/wh_down.png) 93% 50% no-repeat;
			}
		}
	}
}



// RESPONSIVE _filter
	
	@media only screen and (max-width: 570px) {
		.catalog_filter{
			li{
				a{
					font-size: 15px;
					padding: 5px 30px 5px 10px;
					
					-webkit-background-size: 15px 8px;
					     -o-background-size: 15px 8px;
					        background-size: 15px 8px;
				}

				&.active{
					a{
						-webkit-background-size: 15px 8px;
						     -o-background-size: 15px 8px;
						        background-size: 15px 8px;
					}
				}
			}
		}
		.catalog_table_link,
		.catalog_list_link{
			height: 35px;
		}
	}

	@media only screen and (max-width: 480px) {
		.catalog_view{
			width: 100%;
		}

		.catalog_filter{
			li{
				a{
					font-size: 14px;
					padding: 5px 20px 5px 5px;
					background-position: 99% 50%;
					
				}

			}
		}
	}

	@media only screen and (max-width: 360px) {
		.catalog_filter{
			float: none;
			width: 100%;
			li{
				a{
					font-size: 12px;

					-webkit-background-size: 12px 6px;
					     -o-background-size: 12px 6px;
					        background-size: 12px 6px;
				}

				&.active{
					a{
						-webkit-background-size: 12px 6px;
						     -o-background-size: 12px 6px;
						        background-size: 12px 6px;
					}
				}

			}
		}
		.catalog_view{
			float: none;
		}

	}