// Components: nav
.nav{
	
	&.type1{
		margin-top: 7px;
	}

	&__item{
		color: #73964A;
		font-size: 18px;
		line-height: 1.8;
		margin: 0 30px;
		display: inline-block;
		padding-bottom: 10px;
		
		span{
			padding-bottom: 2px;
			font-family: 'exo_2.0regular';
			border-bottom: 1px dashed #73964A;
		}

		&.active{
			background: url(../../../images/icon/arrow.png) 50% 50% no-repeat;
			
			span{
				border-bottom-color: transparent;
			}
		}

		&:hover{
			span{
				border-bottom-color: transparent;
			}
		}
	}
}

.secondary_nav{
	padding: 0 15px;
	margin: -1px -22px 0;
	height: 44px;
	z-index: 20;
	padding-top: 7px;
	position: relative;
	background: url(../../../images/nav_bg.png) 0 0 no-repeat;
	-webkit-background-size: 100% 100%;
	     -o-background-size: 100% 100%;
	        background-size: 100% 100%;
	-webkit-box-shadow: 0px 5px 10px rgba(51, 51, 51, .4);
	        box-shadow: 0px 5px 10px rgba(51, 51, 51, .4);
	
	
	
	.main_item{
		width: 256px;
		float: left;
		color: #FFF;
		font-size: 15px;
		line-height: 2.2;
		font-weight: bold;
		padding-left: 77px;
		background: url(../../../images/icon/icon_6.png) 32px 50% no-repeat;
	}

	&__list{
		float: left;
		display: inline-block;
		text-align: center;
		
		li{
			display: inline-block;
			
			a{
				color: #4B2A00;
				padding: 0 18px;
				font-size: 14px;
				line-height: 2.3;
				display: inline-block;
				font-family: 'exo_2.0bold';
			}
		}
	}



	.menu2_btn,
	.menu3_btn{
		display: none;
		width: 30px;
		height: 30px;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		background: #73964a url(../../../images/icon/menu2.png) 50% 50% no-repeat;
	}

}

.secondary_nav + .alphabet{
	margin: 0 -15px;
	z-index: 10;
	position: relative;
	
	&::before,
	&::after{
		content: "";
		width: 8px;
		height: 8px;
		top: 0;
		display: block;
		visibility: visible;
		position: absolute;
	}
	&::before{
		right: -8px;
		background: url(../../../images/icon/sec_nav_flag2.png) 0 0 no-repeat;
	}
	&::after{
		left: -8px;
		background: url(../../../images/icon/sec_nav_flag.png) 0 0 no-repeat;
	}

	.alphabet_menu{
		display: none;
		font-size: 15px;
		color: #FFF;
		width: 100%;
		line-height: 3;
		cursor: pointer;
		position: relative;
		
		&::after{
			content: "";
			position: absolute;
			font-size: 15px;
			height: 45px;
			right: 10px;
			width: 29px;
			-webkit-transition: all 0.3s ease;
		    -moz-transition: all 0.3s ease;
		    -o-transition: all 0.3s ease;
		    transition: all 0.3s ease;
			background: url(../../../images/icon/wh_down.png) 50% 50% no-repeat;
		}
	}
}
.main_menu_wrap{
	position: relative;
}

	
.first_item_close,
.secondary_nav__list__close{display: none;}

.main_menu{
	// overflow: hidden;
	// position: relative;
	margin-top: -44px;
	z-index: 30;
	background: #FFF;
	padding-bottom: 7px;
	-webkit-border-radius: 0 0 7px 7px;
	        border-radius: 0 0 7px 7px;
	-webkit-box-shadow: 0px 0 0 rgba(51, 51, 51, .1), 5px 0px 5px rgba(51, 51, 51, .1), 0px 5px 5px rgba(51, 51, 51, .1), -5px 0px 5px rgba(51, 51, 51, .1);
	        box-shadow: 0px 0 0 rgba(51, 51, 51, .1), 5px 0px 5px rgba(51, 51, 51, .1), 0px 5px 5px rgba(51, 51, 51, .1), -5px 0px 5px rgba(51, 51, 51, .1);
	
	

	width: 262px;
	left: 15px;
	top: 0;
	position: absolute;


	&::before{
		content: "";
		width: 2px;
		height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		position: absolute;
		background-color: #829C57;
	}
	
	&__item{
		

		&:nth-child(even){
			background-color: #FBF7F3;
		}
		
		& > a{
			color: #4B2A00;
			width: 100%;
			font-size: 15px;
			line-height: 2;
			font-weight: bold;
			padding-left: 36px;
			display: inline-block;
			white-space: nowrap;
			padding: 2.5px 22px 2.8px 36px;
			background-image: url(../../../images/icon/or_right.png);
			background-position: 95% 50%;
			background-repeat: no-repeat;
			
			&:hover{
				padding-left: 45px;
				// background-position: 98% 50%;
			}
		}
	}

	&--sub_menu{
		display: none;
		left: 100%;
		width: 100%;
		top: 0;
		z-index: 50;
		position: absolute;
		background-color: #fff;
		border-left: 2px solid #829C57;
		-webkit-border-radius: 0 0 7px 0;
		        border-radius: 0 0 7px 0;
		-webkit-box-shadow: 5px 5px 5px rgba(51, 51, 51, .1);
		        box-shadow: 5px 5px 5px rgba(51, 51, 51, .1);
	
		
		li:nth-child(even){
			background-color: #FBF7F3;
		}
		li:last-child{
			-webkit-border-radius: 0 0 7px 0;
		        	border-radius: 0 0 7px 0;
		}
		li{
			a{
				width: 100%;
				color: #4B2A00;
				font-size: 15px;
				line-height: 2;
				font-weight: bold;
				display: inline-block;
				padding: 2.5px 22px 2.8px 36px;
			}
		}
	}

	.active > &--sub_menu{
		display: block;
	}
}


	[data-link="link_to_submenu"]{
		background-image: url(../../../images/icon/or_right.png);
		background-position: 95% 50%;
		background-repeat: no-repeat;
	}

.main_menu_wrap{
	// padding-top: 20px;
	
	.main_menu{
		
	}
	
	.container{position: relative;}

	.menu_padd{
		padding-top: 940px;
	}
		
}

.empty_box_for_main_menu{
	height: 440px;
}

.nav_pages{
	color: #141414;
	font-size: 14px;
	text-align: center;
	
	li{
		line-height: 1.9;
		display: inline-block;
	}
	
	&__prev{
		margin-right: 9px;
		padding-left: 13px;
		background: url(../../../images/icon/nav_prev.png) 0% 50% no-repeat;
	}

	&__next{
		margin-left: 9px;
		padding-right: 13px;
		background: url(../../../images/icon/nav_next.png) 100% 50% no-repeat;
	}
	&__prev:hover,
	&__next:hover{
		a{
			color: #86BA38;
		}
	}

	&__item{

		a{
			display: block;
			width: 27px;
			height: 27px;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
		}

		&:hover{
			a{
				background-color: rgba(0, 0, 0, 0.3);
			}
		}
			
		
		&.current{
				
			a{
				color: #FFF;
				background-color: #000;
			}
		}
	}
}

.mob_menu2,
.mob_menu3,
.mob_menu4{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	left: 100%;
	z-index: 30;
	bottom: 0;
	height: 100%;
	overflow: auto;
	background: #FFF;
	-webkit-border-radius: 0 0 7px 7px;
	        border-radius: 0 0 7px 7px;
	-webkit-box-shadow: 0px 0 0 rgba(51, 51, 51, .1), 5px 0px 5px rgba(51, 51, 51, .1), 0px 5px 5px rgba(51, 51, 51, .1), -5px 0px 5px rgba(51, 51, 51, .1);
	        box-shadow: 0px 0 0 rgba(51, 51, 51, .1), 5px 0px 5px rgba(51, 51, 51, .1), 0px 5px 5px rgba(51, 51, 51, .1), -5px 0px 5px rgba(51, 51, 51, .1);
	
	li{
		&:nth-child(even){
			background-color: #FBF7F3;
		}
		
		& > a{
			color: #4B2A00;
			width: 100%;
			font-size: 15px;
			line-height: 2;
			font-weight: bold;
			padding-left: 36px;
			display: inline-block;
			white-space: nowrap;
			padding: 2.5px 22px 2.8px 36px;
			
			&:hover{
			}
		}
	}
}



// RESPONSIVE Components: _nav
	@media only screen and (max-width: 1199px) {

		.secondary_nav{
			margin: -1px -15px 0;
		}

		.secondary_nav + .alphabet::before, 
		.secondary_nav + .alphabet::after{
			display: none;
		}

		.secondary_nav{
			
			.main_item{
				padding-left: 45px;
				background-position: 0 50%;
			}

			&__list li a{
				padding: 0 7px;
			}
		}

		.main_menu{
			width: 242px;
			left: 0;
			
			li{
				
				a{
					padding-left: 15px;
				}
			}
		}

	}

	@media only screen and (max-width: 1023px) {
		
		.secondary_nav {
			position: static;

			&__list{
				position: fixed;
				top: 0;
				width: 100%;
				right: -100%;
				bottom: 0;
				z-index: 90;
				margin-top: 0;
				overflow: auto;
				min-width: 320px;
				padding: 0;
				max-height: 100%;
				background-color: #ffa600;
				-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
				        box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
				
				-webkit-transition: all 0.3s ease;
			    -moz-transition: all 0.3s ease;
			    -o-transition: all 0.3s ease;
			    transition: all 0.3s ease;
				
				li{
					width: 100%;
					text-align: left;
					padding-left: 15px;
					
					a{
						color: #fff;
					}
				}
			}

			
			.menu2_btn{
				display: block;
				float: right;
				cursor: pointer;
			}
		}

		.menu3_btn{
			display: block;
			cursor: pointer;
		}

		.nav2_overlay{
			
			.mob_menu2{
				right: 0;
				left: 0;
				display: block;
			}

		}



		.nav3_overlay{
			.mob_menu3{
				display: block;
				left: 0;
				right: 0;
			}
		}

		.main_menu_wrap{position: static;}
		.main_item{
			display: none;
			
		}


		.main_menu{
			width: auto;
			margin-top: 0px;
			right: -325px;
			left: auto;
			overflow: auto;
			max-height: 100%;
			z-index: 90;
			position: fixed;
			-webkit-transition: all 0.3s ease;
		    -moz-transition: all 0.3s ease;
		    -o-transition: all 0.3s ease;
		    transition: all 0.3s ease;
			
			
			&--sub_menu{
				// left: 0;
				position: fixed;
				bottom: 0;
				max-height: 100%;
				overflow: auto;
			}

			li.active > &--sub_menu{
				left: 0;
			}
		}

		.first_item_close,
		.secondary_nav__list__close,
		.mob_close,
		.menu3_btn_close,
		.menu4_btn_close{
			display: block;
			padding: 20px;
			background: #fff url(../../../images/icon/left.png) 15px 50% no-repeat;
		}

		.nav4_overlay{
			
			.main_item{
				&::after{
					-webkit-transform: rotate(-180deg);
					   -moz-transform: rotate(-180deg);
					    -ms-transform: rotate(-180deg);
					     -o-transform: rotate(-180deg);
					        transform: rotate(-180deg);
				}
			}

			.main_menu{
				right: 0;
				left: 0;
			}
		}

		.nav5_overlay{
			
			.mob_menu4{
				display: block;
				left: 0;
				right: 0;
				padding: 20px;
			}
		}

		.alphabet{
			padding-left: 15px;
			
		}

		
		.main_menu_wrap .menu_padd {
			padding-top: 10px;
		}
		
	}

	@media only screen and (max-width: 995px) {
		
		.secondary_nav {
			
			.main_item{
				width: 230px;
			}
		}

		.main_menu{
			
			// width: 232px;
			
			li{
				a{
					padding-left: 8px;
				}
			}
		}
	}

	@media only screen and (max-width: 880px) {
		
		.secondary_nav {
			
			&__list{
				
				li{
					a{
						padding: 2px 5px 0;
						font-size: 13px;
					}
				}
			}

			.main_item{
				margin-top: -2px;
			}
		}
	}

	@media only screen and (max-width: 768px) {


		.nav__item{
			font-size: 16px;
			margin: 0 20px;
		}
	}

	@media only screen and (max-width: 668px) {
		
		.alphabet_menu{
			display: block !important;
		}

		.nav3_overlay{
			.alphabet_menu{
				
				&::after{
					-webkit-transform: rotate(180deg);
					   -moz-transform: rotate(180deg);
					    -ms-transform: rotate(180deg);
					     -o-transform: rotate(180deg);
					        transform: rotate(180deg);
				}
			}
		}

		.nav{
			&__item{
				margin: 0 15px;
			}
		}

	}

	@media only screen and (max-width: 550px) {
		


		.nav{
			&__item{
				margin: 0 10px;
			}
		}

	}

	@media only screen and (max-width: 425px) {
		.nav__item{
			font-size: 14px;
		}
	}

	@media only screen and (max-width: 320px) {
		.nav_pages__prev a,
		.nav_pages__next a{
			width: 5px;
			display: inline-block;
			color: transparent;
		}

		.nav_pages__prev{
			margin-right: 3px;
		}
		.nav_pages__next{
			margin-left: 3px;
		}

		.nav_pages__item a{
			width: 25px;
			height: 26px;
		}
	}