	// Component: Products
.product{
	position: relative;
	padding: 20px 0 15px;
	text-align: center;
	margin: 0 11px 15px;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	-webkit-box-shadow: 0px -5px 5px #f6f6f6, 5px 0px 5px #f6f6f6, 0px 5px 5px #f6f6f6, -5px 0px 5px #f6f6f6;
	        box-shadow: 0px -5px 5px #f6f6f6, 5px 0px 5px #f6f6f6, 0px 5px 5px #f6f6f6, -5px 0px 5px #f6f6f6;
	
	&::before{
		content: "";
		position: absolute;
		left: 12px;
		right: 12px;
		top: 0;
		height: 2px;
		display: block;
		z-index: 10;
		background-color: #F68901;
	}
	
	.img_box{
		width: 100%;
		height: 150px;
		margin-bottom: 10px;
		text-align: center;
		
		img{
			width: auto;
			height: auto;
		}
	}

	&__rating{
		top: 9px;
		right: 10px;
		color: #fff;
		width: 32px;
		height: 32px;
		font-size: 13px;
		line-height: 32px;
		padding: 2px;
		z-index: 10;
		position: absolute;
		text-align: center;
		background: url(../../../images/icon/star_rating.png) 50% 50% no-repeat;
	}

	figcaption{
		
		a.title--7{
			position: relative;
			display: block;
			
			&::after{
				content: "";
				width: 48px;
				height: 1px;
				left: 50%;
				bottom: -12px;
				display: block;
				position: absolute;
				background-color: #CECECE;
				-webkit-transform: translateX(-24px);
				   -moz-transform: translateX(-24px);
				    -ms-transform: translateX(-24px);
				     -o-transform: translateX(-24px);
				        transform: translateX(-24px);
			}
		}
		h6{font-weight: normal;}

		.price_box{
			width: 100%;
			padding: 10px 0 23px; 
			background: url(../../../images/product_price_bg.png) 0 0 no-repeat;
			-webkit-background-size: 100% 100%;
			     -o-background-size: 100% 100%;
			        background-size: 100% 100%;
			
			.current_price{
				display: inline-block;
				// width: 100%;
				
				.font_16{line-height: 1.9;}
			}

			

			.btn_2{
				margin-top: 7px;
			}
		}
	}

}

.old_price{
	color: #56493B;
	display: inline-block;
	font-size: 14px;
	padding-top: 7px;
	text-decoration: line-through;
	
	& + .current_price{
		margin-left: 10px;
		width: auto;
	}
}

.grey_pattern{
	background: url(../../../images/baner_fon.png) 50% 50% no-repeat;
	-webkit-background-size: 100% 100%;
	     -o-background-size: 100% 100%;
	        background-size: 100% 100%;
}

.product_wrap{
	margin-left: -11px;
	margin-right: -11px;
	
	.product{
		width: 22%;
		float: left;
	}
	.link_item{
		background-color: #FDB800;
		
		&::before{
			content: none;
		}
		    
		figcaption{
			font-size: 15px;
			line-height: 1.3;
			height: 100%;
			padding-top: 75%;
			padding-left: 16px;
			padding-right: 16px;
			background-color: transparent;
				
			
			a{
				// margin-top: -35px;
				width: 100%;
				display: block;
				padding: 12px 10px;
				// border: 1px solid #fff;
				position: relative;
				
				&::after{
					content: "";
					width: 50px;
					left: 50%;
					height: 1px;
					bottom: 0px;
					display: block;
					position: absolute;
					background-color: rgba(255, 255, 255, 0.5);
					-webkit-transform: translateX(-25px);
					   -moz-transform: translateX(-25px);
					    -ms-transform: translateX(-25px);
					     -o-transform: translateX(-25px);
					        transform: translateX(-25px);
				}
				
				&:hover{
					color: #F69530;
					background-color: #FFF;
				}
			}
		}
	}
}

.product_single{
	width: 100%;
	display: inline-block;
	
	
	&__img{
		width: 44%;
		float: left;
		overflow: hidden;
		padding-top: 0;
		background-color: #FFF;
		margin-left: 0;
		
		.product_slider{
			
			.owl-prev{
				float: left;
				background: #fff url(../../../images/icon/left.png) 50% 50% no-repeat;
			}
			.owl-next{
				float: right;
				background: #fff url(../../../images/icon/right.png) 50% 50% no-repeat;
			}
			.owl-prev,
			.owl-next{
				width: 58px;
				height: 100px;
				cursor: pointer;
				text-indent: -999px;
				color: transparent;
			}
		}

		.product_slider_thumbs{

			.owl-item{
				cursor: pointer;
				width: 83px !important;
				height: 93px;
				
				.owl-thumb-item{
					height: 100%;
					width: 100%;
					text-align: center;
					
					img{
						max-width: 100%;
						height: auto;
						max-height: 100%;
						width: auto;
						margin-left: auto;
						margin-right: auto;
					}
				}
			}
			
			.synced{
				-webkit-border-radius: 7px;
				        border-radius: 7px;
			    overflow: hidden;
			    -webkit-box-shadow: 0 0 10px #bbb;
			            box-shadow: 0 0 10px #bbb;
			    
			    img{
			    	-webkit-border-radius: 7px;
			    	        border-radius: 7px;
			    }
			}
		}
	}

	&__info{
		width: 53%;  //55
		float: left;
		margin-left: 2px;
		
		&__stars{

			.br-theme-css-stars .br-widget a{
				width: 21px;
				height: 21px;
				font-size: 26px;
				
				&::after{
					color: transparent;
					background: url(../../../images/icon/gray_star.png) 0 0 no-repeat;
				}

				&.br-selected:after,
				&.br-active:after{
					color: transparent;
					background: url(../../../images/icon/orange_star.png) 0 0 no-repeat;
				}
			}
				
		}
	}
	.product_form{
		
		.input_num_wrap{margin-left: 7px;}

		.btn_2{margin-right: 0;}

		.select_box__wrap{
			width: 187px;
			margin-right: 5px;
			
			.select_box{
				width: 100%;
				float: none;
				margin-right: 0;
			}
		}
	}
}

.product_row{
	padding-bottom: 12px;
	border-bottom: 1px dashed #96897B;
	
	.img_box{
		width: 80px;
		float: left;
		margin-right: 10px;
		
		img{
			width: auto;
			max-width: 100%;
		}
	}

	&__info{
		float: left;
		padding-top: 15px;
		width: calc(100% - 250px);
	}

	&__price{
		width: 160px;
		float: right;
		padding-top: 20px;
		text-align: right;
		
		.btn_1{
			font-size: 14px;
			border-width: 1px;
			padding: 7px 10px;
		}
	}
}


.product_catalog{
	margin-bottom: 20px;
	
	.img_box{
		width: 17%;
		float: left;
		margin-right: 23px;
		text-align: center;
		line-height: 194px;
		background-color: #FFF;
		-webkit-border-radius: 10px;
		        border-radius: 10px;
		
		img{
			max-width: 100%;
			width: auto;
			line-height: 194px;
			vertical-align: middle;
		}
	}

	&__info{
		width: 46%;
		float: left;
		padding-top: 20px;
		margin-right: 15%;
		
		&__title{
			padding-bottom: 10px;
			border-bottom: 2px dotted #C1BDB9;
			font-family: 'exo_2.0bold', sans-serif;
		}

		p{
			font-size: 12px;
		}
	}

	&__price{
		width: 17%;
		float: left;
		padding-top: 15px;

		.type2{
			float: none;
			margin-left: auto;
			margin-right: auto;
		}

		.title--5{
			line-height: 2;
		}

		p{
			margin-bottom: 0;
		}
	}
}



// FOR _form.scss
.input_num_wrap{
	width: 122px;
	float: left;
	padding: 0 26px;
	position: relative;
	border: 1px solid #CCC;
	background-color: #FFF;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	
	input{
		width: 100%;
		border: none;
		height: 36px;
		color: #586983;
		font-size: 19px;
		text-align: center;
		background-color: transparent;
		
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
		    -webkit-appearance: none;
		    margin: 0; 
		}
	}

	.up{
		right: 0;
		-webkit-border-radius: 0 5px 5px 0 ;
		        border-radius: 0 5px 5px 0 ;
		background: url(../../../images/icon/top.png) 50% 50% no-repeat;
	}
	.down{
		left: 0;
		-webkit-border-radius: 5px 0 0 5px;
		        border-radius: 5px 0 0 5px;
		background: url(../../../images/icon/bot.png) 50% 50% no-repeat;
	}
	.up,
	.down{
		position: absolute;
		width: 26px;
		height: 36px;
		top: 0;
	}
	.up:hover,
	.down:hover{
		background-color: rgba(115, 150, 74, .15);
	}

}
.type2{

	border-color: transparent;
	-webkit-border-radius: 7px;
	        border-radius: 7px;
	-webkit-box-shadow: -2px -3px 0 #fdb700;
	        box-shadow: -2px -3px 0 #fdb700;

	.up{
		background-image: url(../../../images/icon/or_down.png);
		-webkit-transform: rotate(180deg);
		   -moz-transform: rotate(180deg);
		    -ms-transform: rotate(180deg);
		     -o-transform: rotate(180deg);
		        transform: rotate(180deg);
	}
	.down{
		background-image: url(../../../images/icon/or_down.png);
	}
}



.select_box{
	width: 182px;
	float: right;
	margin-left: 3px;
	border: 1px solid #CCC;
	background-color: #FFF;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	
	.form__select{
		
		.jq-selectbox__select{
			border: none;
			font-size: 15px;
			height: 36px;
			color: #333;
			background-color: transparent;
			font-family: 'PT Sans', sans-serif;
			
			&-text{
				line-height: 2.4;
			}
		}

		.jq-selectbox__trigger-arrow{
			width: 10px;
			height: 8px;
			border: none;
			display: block;
			background: #FFF;
			background: url(../../../images/icon/bot.png) 50% 50% no-repeat;
			top: 50%;
			-webkit-transform: translateY(-4px);
			   -moz-transform: translateY(-4px);
			    -ms-transform: translateY(-4px);
			     -o-transform: translateY(-4px);
			        transform: translateY(-4px);
		}

		
	}


	.jq-selectbox li{
		color: #333;
		
		&.selected{
			background-color: #33490B;
		}

		&:hover{
			background-color: rgba(115, 150, 74, .5);
		}
	}
}


/*-------------  ShopCart item  -----------*/
.shopcart_wrap{
	margin-left: -19px;
	margin-right: -19px;
	
	.shopcart__item{
		position: relative;
		overflow: hidden;
		-webkit-border-radius: 7px;
		        border-radius: 7px;
		-webkit-box-shadow: 0px -2px 2px #f6f6f6, 2px 0px 2px #f6f6f6, 0px 2px 2px #f6f6f6, -2px 0px 2px #f6f6f6;
	    		box-shadow: 0px -2px 2px #f6f6f6, 2px 0px 2px #f6f6f6, 0px 2px 2px #f6f6f6, -2px 0px 2px #f6f6f6;
	
		float: left;
		width: 29%;
		margin: 0 19px 30px;
		
		&::after{
			content: "";
			height: 2px;
			left: 21px;
			right: 21px;
			bottom: 0;
			position: absolute;
			background-color: #F68901;
		}

		.img_box{
			height: 202px;
			text-align: center;
			padding-top: 15px;
			padding-bottom: 30px;
			background: #FFF url(../../../images/diag_shadow.png) 50% 100% no-repeat;
			-webkit-background-size: 100%;
			     -o-background-size: 100%;
			        background-size: 100%;
			
			img{
				width: auto;
				height: auto;
			}
		}
		
		&__remove{
			position: absolute;
			width: 22px;
			height: 22px;
			top: 4px;
			right: 4px;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			background: url(../../../images/icon/or_close.png) 50% 50% no-repeat;
			
			&:hover{
				-webkit-box-shadow: 0 0 5px #F69530;
				        box-shadow: 0 0 5px #F69530;
			}
		}


		&__title{
			font-size: 17.5px;
			color: #F69530;
			line-height: 1.2;
			font-family: 'exo_2.0bold';
		}

		figcaption{
			text-align: center;
			padding: 10px 20px 27px;
			background-color: #F7F8F9;
			

			.old_price{
				display: block;
				font-size: 16px;
				color: #141414;
			}

		}


		&.link_item{
			background: url(../../../images/more_products.png) 50% 50% no-repeat;
			-webkit-background-size: 100%;
			     -o-background-size: 100%;
			        background-size: 100%;
			    
			figcaption{
				font-size: 17.5px;
				line-height: 1.3;
				height: 100%;
				padding-top: 75%;
				padding-left: 16px;
				padding-right: 16px;
				background-color: transparent;
					
				
				a{
					// margin-top: -35px;
					width: 100%;
					display: block;
					padding: 12px 10px;
					border: 1px solid #fff;
					
					&:hover{
						color: #F69530;
						background-color: #FFF;
					}
				}
			}
		}
	}
}
.prod_presence{
	padding-left: 20px;
	display: inline-block;
	background: url(../../../images/icon/prod_presence_icon.png) 0 50% no-repeat;
}

[data-tip]{
	position: relative;
	&::before{
		content: "";	
		position: absolute;
		top: 0;
		left: 12px;
		width: 56px;
		height: 60px;
		display: block;
	}
	
}

[data-tip="sale"]::before{
	background: url(../../../images/tip_sale.png) 50% 50% no-repeat
}
[data-tip="hit"]::before{
	background: url(../../../images/tip_hit.png) 50% 50% no-repeat
}



// RESPONSIVE _products

	@media only screen and (max-width: 1198px) {
		
		.product_single{
			
			&__img{
				// width: 100%;
			}
		}
		.product_single__img .product_slider_thumbs .owl-item{
			width: 70px !important;
			
			img{
				max-width: 99%;
			}
		}
		.product_single__img .product_slider .owl-prev, 
		.product_single__img .product_slider .owl-next{
			width: 50px;
		}
	}
	
	@media only screen and (max-width: 1024px) {
		.product_single__img .product_slider .owl-prev, 
		.product_single__img .product_slider .owl-next{
			width: 30px;
		}

		.product_single{
			
			&__info{
				.font_20{font-size: 18px;}
			}

			.input_num_wrap{
				width: 90px;
			}

			.select_box{
				width: 155px;
			}
		}
	}

	@media only screen and (max-width: 995px) {
		.product_single{
			
			&__img{
				width: 60%;
				float: none;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;
			}

			&__info{
				width: 100%;
				float: none;
			}
		}

		.grey_pattern{
			margin-top: -20px;
		}
	}

	@media only screen and (max-width: 768px) {
		.catalog_view{
			margin-bottom: 15px;
			
			.catalog_list_link,
			.catalog_table_link {
				float: right;
				right: auto !important;
				display: inline-block;
				bottom: 0 !important;
				position: relative !important;
			}
		}
		
		.product_wrap {
			
			.product{
				width: 44%;
			}
		}

		.product_single{
			
			&__img{
				width: 100%;
			}
		}
	}

	@media only screen and (max-width: 667px) {

		.product_wrap {
			
		}

		.product_catalog__info{
			margin-right: 20px;
		}
	}

	@media only screen and (max-width: 570px) {


		.product_catalog{

			&__price{
				width: 100%;
				
				p{
					line-height: 2.5;
				}
				
				*{
					margin-left: 3px;
					margin-right: 3px;
					display: inline-block;
				}
			}

			.img_box{
				width: 100%;
				float: none;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				
				img{
					width: auto;
					max-width: 100%;
				}
			}

			&__info{
				width: 100%;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}

	@media only screen and (max-width: 550px) {


		.product_row {
			.img_box{
				margin-left: auto;
				margin-right: auto;
					float: none;
			}

			&__info{
				width: 100%;
				float: none;
				text-align: center;
			}

			&__price{
				width: 100%;
				float: none;
				text-align: center;
			}
		}



	}

	@media only screen and (max-width: 480px) {

		.product_wrap {
			margin-left: 0;
			margin-right: 0;
			
			.product{
				width: 100%;
				float: none;
				margin: 0 0 20px;
			}

			.link_item{
				padding: 15px 0;
				
				figcaption{
					padding-top: 0;
				}
			}
		}
	}

	@media only screen and (max-width: 425px) {

		.product_catalog {
			&__price{
				padding-left: 10px;
				padding-right: 10px;
				*{
					width: 100%;
					

				}
				
				.title--5{
					span{
						width: auto;
						display: inline-block;
						text-align: center;
					}
				}
			}
		}
	}

	@media only screen and (max-width: 320px) {
		
		
	}