// Components: rating

.rating_block{
	display: inline-block;
	
	&__left{
		width: 60%;
		float: left;
		
		.rating__wrap{
			float: left;
			width: 62%;
			display: inline-block;
		}
		
		&__info{
			width: 35%;
			float: left;
			display: inline-block;
			
			.title--7{line-height: 1.5;}

			.rating_row__checkbox{
				width: 100% !important;
				display: block;
				
				span{
					color: #73964A;
					padding-left: 10px;
				}
			}
		}
	}

	&__right{
		width: 40%;
		float: left;
		margin-top: -10px;
		-webkit-border-radius: 5px;
		        border-radius: 5px;
		-webkit-box-shadow: 0px -3px 2px #f6f6f6, 3px 0px 2px #f6f6f6, 0px 3px 2px #f6f6f6, -3px 0px 2px #f6f6f6;
    			box-shadow: 0px -3px 2px #f6f6f6, 3px 0px 2px #f6f6f6, 0px 3px 2px #f6f6f6, -3px 0px 2px #f6f6f6;
		
		.top{
			padding: 2px 10px 0px;
			text-align: center;
			
			.description{
				display: inline-block;
				font-size: 15px;
				text-align: left;
				
				padding-top: 20px;
				margin-left: 20px;
			}
		}

		.bottom{
			padding: 15px 10px;
			text-align: center;
		}
	}

	.rating_row{
		display: inline-block;
		margin-right: 15px;
		

		&__checkbox{
			width: 22px;
			float: left;
			margin-right: 7px;
			display: inline-block;
			position: relative;

			&__checkbox{
				width: 22px;
				height: 22px;
				position: relative;
				z-index: 20;
				cursor: pointer;
			    -webkit-appearance: none;
			    margin: 0;
			    outline: none;
			}

			&__label{
				position: absolute;
				top: 0;
				left: 0;
				z-index: 10;
				width: 22px;
				height: 22px;
				display: block;
				margin-top: 2px;
				background: url(../../../images/icon/checkbox.png) -52px -10px no-repeat;
			}

			&__checkbox:checked + .rating_row__checkbox__label{
				background-position: -10px -10px;
			}
		}

		.product_single__info__stars{
			width: 130px;
			float: left;
			margin-right: 7px;
		}

		

		&__rating2{
			float: left;
			width: calc(100% - 170px);
			
			.br-widget{
				width: 138px;
			}

			.stripe_rating{
				
			}

			a[data-rating-value]{
				display: inline-block;
				width: 9%;
				float: left;
				height: 7px;
				cursor: auto;
				margin-left: -1px;
				margin-top: 10px;
				background-color: #CCC;
			}
			a.br-selected{
				background-color: #73964A;
			}

			.br-current-rating{
				color: #56493B;
				font-size: 14px;
				line-height: 2;
				margin-left: 10px;
				float: left;
			}

		}
			
	}
}

.rating_row__checkbox{
	width: 22px;
	float: left;
	margin-right: 7px;
	display: inline-block;
	position: relative;

	&__checkbox{
		width: 22px;
		height: 22px;
		position: relative;
		z-index: 20;
		cursor: pointer;
	    -webkit-appearance: none;
	    margin: 0;
	    outline: none;
	}

	&__label{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		width: 22px;
		height: 22px;
		display: block;
		margin-top: 2px;
		background: url(../../../images/icon/checkbox.png) -52px -10px no-repeat;
	}

	&__checkbox:checked + .rating_row__checkbox__label{
		background-position: -10px -10px;
	}
}


// RESPONSIVE _rating
	
	@media only screen and (max-width: 1024px) {
		.rating_block{
			
			&__right{
				width: 30%;
				
					.top{

						.font_65{
							font-size: 50px;
						}
						
						.description{
							padding-top: 0;
							
						}
					}
			}
			&__left{
				width: 70%;
			}
		}
	}

	@media only screen and (max-width: 667px) {
		
		.rating_block{
			
			&__left{
				width: 100%;
				float: none;
				margin-bottom: 10px;
			}
			&__right{
				width: 100%;
				float: none;
				margin-top: 0;
				
				.top{
					.description{
						padding-top: 20px;
					}
				}
			}
		}
	}

	@media only screen and (max-width: 480px) {
		.rating_block__left{
			
			.rating__wrap,
			&__info{
				width: 100%;
				float: none;
			}

			.rating_row__rating2{
				width: 100%;
			}
		}

		.rating_block .rating_row__rating2 .br-widget{
			width: 100%;
		}
	}