// Components: table
.table{
	width: 100%;

	tr{
		display: block;
		padding: 6px 9px 6px 15px;
	}
}

.product_table{
	
	tr{
		width: 100%;
		
		td{
			color: #5A4730;
		}
		
		td:first-child{width: 46%; line-height: 36px;}

		td:nth-child(2){width: 20%; line-height: 36px;}

		td:nth-child(3){width: 19%;}

		td:last-child{width: 16%;}
	}
	tr:nth-child(even){
		background-color: #FBF7F3;
	}

	&--present_count{
		color: #5A4730;
		display: none;
	}
}

.order_table{
	overflow: hidden;
	position: relative;
	-webkit-border-radius: 7px;
	        border-radius: 7px;
	-webkit-box-shadow: 0px -2px 2px #f6f6f6, 2px 0px 2px #f6f6f6, 0px 2px 2px #f6f6f6, -2px 0px 2px #f6f6f6;
    		box-shadow: 0px -2px 2px #f6f6f6, 2px 0px 2px #f6f6f6, 0px 2px 2px #f6f6f6, -2px 0px 2px #f6f6f6;
	
	&::after{
		content: "";
		height: 2px;
		top: 0;
		left: 30px;
		right: 30px;
		position: absolute;
		background-color: #F68901;
	}


	tr{
		padding: 20px 30px 16px 40px;
		background: url(../../../images/icon/or_right.png) 24px 50% no-repeat;
		background-color: #F4F1EE;
		
		td{
			display: block;
			float: left;
		}
		
		&:nth-child(odd){
			background-color: #F7F8F9;
		}


		td:first-child{
			width: 36%; 
			line-height: 2.8;
			font-size: 16px;
			color: #73964A;
			font-family: 'exo_2.0bold', sans-serif;
		}

		td:nth-child(2){
			width: 17.8%; 
			line-height: 36px;
			font-size: 14px;
			color: #5A4730;
		}

		td:nth-child(3){
			width: 21%;
			font-size: 22px;
			line-height: 1.9;
			font-weight: bold;
			color: #F69530;
			
			span:first-child{
				font-weight: normal;
			}
		}

		td:last-child{
			width: 22%;
			line-height: 44px;
		}
	}

}

.order_done{
	

	td:last-child{
		padding-right: 25px;
		background: url(../../../images/icon/success.png) 98% 50% no-repeat;
	}
}

.profile_order{
	

	tr:first-child{
		padding-top: 23px;
		padding-bottom: 35px;
		text-align: center;
	}

	tr{
		background-image: none;
		padding: 9px 24px;
		
		td, th{
			float: left;
			display: block;
		}

		th:first-child,
		td:first-child{
			width: 12%;
			margin-right: 2%;
		}

		th:nth-child(2),
		td:nth-child(2){
			width: 22.7%;
			line-height: 1.4;
		}

		th:nth-child(3),
		td:nth-child(3){
			width: 26.2%;
			text-align: center;
		}

		th:nth-child(4),
		td:nth-child(4){
			width: 9.5%;
			margin-right: 9%;
			text-align: center;
		}
		td:nth-child(4){
			line-height: 4.2;
		}

		th:last-child,
		td:last-child{
			width: 17%;
			text-align: center;
			
		}

		td:last-child,
		td:nth-child(3){
			font-size: 22px;
			line-height: 3;
			font-weight: bold;
			color: #F69530;
			
			span:first-child{
				font-weight: normal;
			}
		}

		.img_box{
			width: 50px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			
			img{
				max-width: 100%;
				max-height: 100%;
				width: auto;
				height: auto;
			}
		}
	}

	th{
		color: #5A4730;
		font-size: 14px;
		font-weight: normal;
	}


	
}

tr.last_row{
	padding-top: 19px;
	background-image: none;
	
	.btn_1{font-size: 14px;}
	
	td:not(:first-child){
		display: none;
	}
	td:first-child{
		width: 100% !important;
		float: none;
		line-height: 1.2;
		
		div{
			width: 37%;
			float: left;
			font-size: 22px;
		}
		div:last-child{
			width: 25%;
		}
	}
}

.delivery_table{
	overflow: hidden;
	position: relative;
	-webkit-border-radius: 7px;
	        border-radius: 7px;
	-webkit-box-shadow: 0px -2px 2px #f6f6f6, 2px 0px 2px #f6f6f6, 0px 2px 2px #f6f6f6, -2px 0px 2px #f6f6f6;
    		box-shadow: 0px -2px 2px #f6f6f6, 2px 0px 2px #f6f6f6, 0px 2px 2px #f6f6f6, -2px 0px 2px #f6f6f6;
	background-color: #F7F8F9;
	
	&::after{
		content: "";
		position: absolute;
		bottom: 0;
		left: 50px;
		right: 50px;
		height: 2px;
		background-color: #F68901;
	}
	
	tr{
		padding: 25px 20px;
		position: relative;
		// border-bottom: 1px dashed #5A4730;
		
		&:not(:last-child)::before{
			content: "";
			position: absolute;
			bottom: 0;
			right: 20px;
			left: 20px;
			height: 1px;
			display: block;
			opacity: .7;
			border-bottom: 1px dashed #5A4730;
		}
		

		th{
			padding-top: 5px;
			color: #33490B;
			text-align: left;
			font-weight: normal;
		}
		td{}

		th, td{
			display: block; 
			float: left;
		}

		th:first-child,
		td:first-child{
			width: 40%;
		}

		th:nth-child(2),
		td:nth-child(2){
			width: 19%;
		}

		th:nth-child(3),
		td:nth-child(3){
			width: 18%;
		}

		th:last-child,
		td:last-child{
			width: 18%;
			padding-top: 12px;
		}

	}
}

.ordering_table{
	
	tr{
		background-color: #F7F8F9;
		padding: 24px 10px 20px;
		
		&:first-child{
			text-align: left;
			padding-bottom: 9px;
		}

		td:first-child{
			width: 14%;
		}

		td:nth-child(2){
			width: 34%;
		}
		td:nth-child(3){
			width: 16%;
			
			line-height: 5;
			font-size: 15px;
			font-weight: bold;
			color: #F69530;
		}
		td:nth-child(4){
			width: 18%;
			margin-right: 0;
			
			line-height: 3.4;
			color: #F69530;
			font-size: 22px;
			font-weight: bold;
			
			span{font-weight: normal;}
		}
	
		td:last-child{
			width: 13%;
			text-align: right;
			padding-top: 28px;
		}


		.img_box{width: 65px;}

		&.last_row{
			padding-bottom: 0;

			td:first-child{
				padding-left: 55px;
				div{
					width: 100%;
					float: none;
				}

				span{
					font-size: 14px;
					color: #333;
					font-family: 'exo_2.0regular';
				}

				.promo_code__wrap{
					width: 280px;
					float: left;
					
					.form__input{
						width: 100%;
					}
				}
			}
				
		}
	}

	.promo_code__wrap{
		width: 280px;
	}

}

.shopcart_table{
	padding-top: 5px;
	padding-bottom: 10px;
	
	tr{
		padding-top: 20px;
		padding-bottom: 20px;
		
		.img_box{
			img{
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}

		td{
			display: block;
			float: left;
		}
		
		&:first-child{
			text-align: left;
			// padding-bottom: 9px;
		}

		td:first-child{
			width: 14%;
			padding-right: 10px;
			margin-right: 15px;
		}

		td:nth-child(2){
			width: 38%;
			
			h6{
				height: 65px;
			}
		}
		td:nth-child(3){
			width: 12%;
			
			line-height: 5;
			font-size: 15px;
			font-weight: bold;
			color: #F69530;
			text-align: center;
		}
		td:nth-child(4){
			width: 22%;
			margin-right: 0;
			
			line-height: 3.4;
			color: #F69530;
			font-size: 22px;
			font-weight: bold;
			
			span{font-weight: normal;}
		}
	
		td:last-child{
			width: 7%;
			text-align: center;
			padding-top: 28px;
		}

		&.last_row{
			
			td:first-child{
				width: 100%;
			}
			td:not(:first-child){
				display: none;
			}
		}
	}

		
}

.shopcart_table2{
	
	tr{
		padding-left: 0;
		padding-right: 0;
		
		td:first-child{
			width: 10%;
			text-align: center;
			
			img{
				width: auto;
			}
		}

		td:nth-child(2){
			width: 30%;
			
			h6{
				height: 70px;
			}
		}
		td:nth-child(3){
			width: 16%;
			
			.title--5{
				line-height: 4;
			}
		}
		td:nth-child(4){
			width: 18%;
			
			.input_num_wrap{
				margin-top: 25px;
			}
		}

		td:nth-child(5){
			width: 16%;
			
			.title--5{
				line-height: 4;
			}
		}
	
		td:last-child{
			width: 20%;
			line-height: 6;
			
			img{
				line-height: 5;
				margin-left: 5px;
				vertical-align: middle;
			}
		}
	}
}

.issue_table{
	background-color: #fff;
	&::after{
		display: none;
	}
	
	tr{
		padding: 12px 20px;
		
		&:not(:last-child){
			border-bottom: 1px solid #EBEEF0;
		}
		
		&:first-child{background-color: #F7F8F9;}
		
		th{
			font-size: 16px;
			color: #73964a;
			font-family: 'exo_2.0bold', sans-serif;
		}

		td:nth-child(3),
		th:nth-child(3){
			width: 24%;
		}

		td:nth-child(3){
			line-height: 3;
		}

		td:last-child,
		th:last-child{
			width: 16%;
		}
	}

	&.delivery_table tr:not(:last-child)::before{
		display: none;
	}

	[data-icon="metro"]{
		margin-top: 10px;
		background-position: 5px 0;
	}
}

[data-icon="metro"]{
	padding-left: 35px;
	line-height: 1.5;
	display: inline-block;
	background: url(../../../images/icon/m.png) 5px 5px no-repeat;
}

[data-available="not"]{
	position: relative;
	display: block;
	cursor: default;
	opacity: 0.4;
	
}


// RESPONSIVE _table
	
	@media only screen and (max-width: 1024px) {
		.order_table{
			
			tr{
				td:nth-child(2){
					width: 15%;
				}

				td:last-child{
					width: 26%;
				}
			}
		}

		.profile_order{
			
			tr{
				
				td:nth-child(2),
				th:nth-child(2){
					width: 26%;
				}

				td:nth-child(4),
				th:nth-child(4){
					margin-right: 6%;
				}

				td:last-child,
				th:last-child{
					width: 17%;
				}
			}
		}

		.delivery_table {
			
			tr{
				
				td,
				th{
					
					&:last-child{
						width: 21%;
					}
				}
			}
		}

		.issue_table{
			
			tr{
				
				td,
				th{
					
					&:first-child{
						width: 36%;
					}
				}
			}
		}
	}

	@media only screen and (max-width: 995px) {
		
		.delivery_table {
			
			tr{
				
				td,
				th{
					&:first-child{
						width: 36%;
					}
					
					&:last-child{
						width: 24%;
					}
				}
			}
		}

		.issue_table{
			
			tr{
				
				td,
				th{
					
					&:last-child{
						width: 21%;
					}
				}
			}
		}

	}

	@media only screen and (max-width: 880px) {
		
		.product_table {
			
			tr{
				
				td{
					&:first-child{
						width: 40%;
					}

					&:nth-child(3){
						width: 22%;
					}
				}
			}
		}

		.order_table {
			
			tr{
				padding: 20px 20px 16px;
				background-position: 10px 50%;
				
				td{
					
					&:nth-child(2){
						line-height: 42px;
					}

					&:last-child{
						font-size: 13px;
					}
				}
			}
		}

		.profile_order{
			
			tr{
				
				td,
				th{
					
					&:first-child{
						width: 10%;
					}

					&:nth-child(2){
						line-height: 1.2;
						width: 30%;
					}

					&:nth-child(3){
						width: 22.2%;
					}

					&:nth-child(4){
						margin-right: 0;
						width: 12%;
					}



					&:last-child{
						font-size: 15px;
					}

				}
			}
		}

		tr.last_row{
			
			td{
				
				&:first-child{
					
					div{
						
						span{
							width: 100%;
							display: inline-block;
						}
					}
				}
			}
		}

		.delivery_table {
			
			tr{
				
				td,
				th{
					&:nth-child(3){
						width: 21%;
						font-size: 14px;
					}
					
					&:last-child{
						.btn_2{
							padding: 10px;
						}
					}
				}
			}
		}

	}

	@media only screen and (max-width: 768px) {
		
		.shopcart_table2{
			
			tr{
				
				td:nth-child(2){
					width: 28%;
				}
				td:nth-child(3){
					width: 15%;
				}
				td:nth-child(4){
					width: 20%;
				}
			}
		}

		.ordering_table{

			tr:first-child{display: block;}
			
			tr{
				
				td{
					
					&:nth-child(4){
						width: 18%;
					}
				}
			}
		}

		.profile_order{
			
			tr{
				
				td,
				th{
					
					&:first-child{
						width: 14%;
					}

					&:nth-child(2){
						line-height: 1.2;
						width: 26%;
					}

					&:nth-child(3){
						width: 14%;
					}

					&:nth-child(4){
						margin-right: 0;
						width: 22%;
					}



					&:last-child{
						font-size: 15px;
					}

				}
			}
		}
	}

	@media only screen and (max-width: 767px) {
		.product_table{

			tr{
				padding: 6px 0;
				
				td{
					&:first-child{
						width: 30%;
					}

					&:nth-child(2){
						display: none;
					}

					&:nth-child(3){
						
						.input_num_wrap{
							float: none;
							width: 112px;
						}
					}

					&:last-child{
						width: 17%;
						text-align: right;
					}

					.btn_2{

						min-width: 80px;
					}
				}
			}

			&--present_count{
				display: block;
				width: 100%;
			}
		}

		.profile_order{
			
			tr{
				padding: 20px 5px 16px;
				
				
				&:first-child{
					display: none;
				}
				
				td,
				th{
					
					&:first-child{
						width: 14%;
					}

					&:nth-child(2){
						line-height: 1.2;
						width: 28%;
						
						.font_15{
							font-size: 14px;
						}
					}

					&:nth-child(3){
						width: 21%;
						font-size: 15px;
					}

					&:nth-child(4){
						margin-right: 0;
						width: 14%;
						line-height: 3;
					}

					&:last-child{
						width: 20%;
						font-size: 15px;
					}

				}
			}
		}
	}

	@media only screen and (max-width: 668px) {
		
		.shopcart_table2{
			
			tr{
				&:not(:last-child){
					border-bottom: 1px solid #cdcdcd;
					margin-bottom: 7px;
				}
					

				td{
					display: block;
					float: left;
				}

				td:first-child{
					width: 20%;
				}
				
				td:nth-child(2){
					width: 80%;
				}
				td:nth-child(3){
					width: 25%;
					text-align: center;
				}
				td:nth-child(4){
					width: 28%;
				}
				td:nth-child(5){
					width: 27%;
					text-align: center;
				}
				td:last-child{
					width: 20%;
				}
				
			}
		}
	}

	@media only screen and (max-width: 570px) {
		
		.issue_table{
			tr:first-child{
				display: none;
			}

			[data-icon="metro"]{
				margin-top: 0;
				background-position: 5px 50%;
			}
			
			tr{
				td:first-child{
					width: 47%;
				}
				
				td:nth-child(2){
					width: 47%;
					font-size: 21px;
				}
				td:nth-child(3){
					width: 47%;
				}
				td:last-child{
					width: 47%;
					padding-top: 0;
				}
			}
		}

		.delivery_table{
			
			tr{
				
				&:first-child{
					display: none;
				}

				td{
					&::before{
						content: attr(data-td-title);
						// float: left;
						display: inline-block;
						width: 100%;
						line-height: 1.5;
						color: #5A4730;
						font-weight: normal;
						font-family: 'PT Sans', sans-serif;
						font-size: 14px;
						
					}
				}
				
				td:first-child,
				td:nth-child(2),
				td:nth-child(3),
				td:last-child{
					width: 48%;
					display: inline-block;
				}

				td:nth-child(2){
					font-size: 21px;
					line-height: 2.2;
				}
			}
		}
	}

	@media only screen and (max-width: 550px) {
		.order_table,
		.accord_table{
			
			tr{
				
				td:first-child,
				td:nth-child(2),
				td:nth-child(3),
				td:last-child{
					width: 48%;
					display: inline-block;
				}

				td{
					text-align: center;
				}

				.input_num_wrap{
					float: none;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 10px;
				}
			}
		}
		.accord_table tr td:first-child,
		.accord_table tr td:nth-child(2),
		.accord_table tr td:nth-child(3){
			width: 48% !important;
		}

		.order_table{
			
			tr{
				background-image: none;
				
				td{
					text-align: left;
					
					&:first-child{
						line-height: 2.2;
					}
				}
			}
		}

		.product_table{
			
			tr{
				
				td:first-child{
					line-height: 1.3;
					
				}

			}
		}

		.profile_order{
			
			tr{
				

				td{
					float: left;
					
					&::before{
						content: attr(data-td-title);
						float: left;
						color: #5A4730;
						font-weight: normal;
						font-family: 'PT Sans', sans-serif;
						font-size: 14px;
						
					}
				}


				td:first-child{
					width: 20%;
					&::before{
						content: "";	
					}
				}
				td:nth-child(2){
					width: 75%;
					&::before{
						content: "";	
					}
					
					h6{
						height: 52px;
					}
				}
				td:nth-child(3){
					width: 33%;
					line-height: 45px;
					

				}
				td:nth-child(4){
					width: 33%;
					line-height: 45px;
				}
				td:last-child{
					width: 33%;
				}
			}
		}

		
		


		.ordering_table{

			tr:first-child{display: block;}
			
		}

		.profile_order tr td:last-child{
			padding-top: 0;
			img{vertical-align: middle;
			line-height: 45px;}
		}

		.promo_code__wrap__btn	{top: 4px !important;}

	}

	@media only screen and (max-width: 480px) {
		.arcticmodal_container_box{
			padding: 20px 10px;
		}
		.table{
			tr{
				padding: 6px 9px;
			}
		}
		.shopcart_table2{
			
			tr{
				position: relative;
					
				td:first-child{
				}
				
				td:nth-child(2){
					padding-right: 80px;
				}
				td:nth-child(3){
					width: 33%;
				}
				td:nth-child(4){
					width: 33%;
				}
				td:nth-child(5){
					width: 33%;
				}
				td:last-child{
					width: auto;
					position: absolute;
					right: 0px;
					top: 10px;
				}
				
			}
		}

		
		.order_table,
		.accord_table{
			
			tr{
				
				td:first-child,
				td:nth-child(2),
				td:nth-child(3),
				td:last-child{
					width: 100%;
					float: none;
				}

			}
		}

		.accord_table tr td:first-child,
		.accord_table tr td:nth-child(2),
		.accord_table tr td:nth-child(3){
			width: 100% !important;
			float: none;
		}

		.accordion_type2 .prod_count {
		    width: 100% !important;
		    padding-left: 30px;
		}

		.profile_order{
			
			tr{
				

				td:first-child{
					width: 20%;
				}
				td:nth-child(2){
					width: 75%;
					
				}
				td:nth-child(3){
					width: 33%;
				}
				td:nth-child(4){
					width: 33%;
				}
				td:last-child{
					width: 33%;
				}
			}
		}

		tr.last_row{

			td:not(:first-child){display: none;}
			
			td:first-child{
				
				div{
					width: 47%;
					
					&:last-child{
						width: 47%;
					}

					span{
						line-height: 1.2;
					}

				}
			}
		}

		.order_table tr.last_row td:first-child{
			line-height: 1.5;
		}

		.delivery_table{
			
			tr{
				
				td:first-child,
				td:nth-child(2),
				td:nth-child(3),
				td:last-child{
					width: 100%;
					float: none;
					text-align: center;
				}

			}
		}

		

		.profile_order{
			
			tr{
				
				td:nth-child(3){
					width: 100%;
					line-height: 1.7;
					text-align: right;
				}
				td:nth-child(4){
					width: 100%;
					line-height: 1.7;
					text-align: right;
				}
				td:last-child{
					width: 100%;
					line-height: 1.7;
					text-align: right;
				}
			}
		}

		.product_table{
			tr{
				padding: 6px 0;
			}
		}


	}

	@media only screen and (max-width: 425px) {
		.btn_2,
		.btn_1{
			// display: block;
			margin-bottom: 10px;
		}

		
		tr.last_row{

			
			td:first-child{
				
				div{
					width: 100%;
					float: none;
					text-align: center;
					
					&:last-child{
						width: 100%;
						float: none;
					}


				}
			}
		}

		.shopcart_table{
			
			tr{
				

				td:first-child{
					width: 25%;
					margin-right: 5px;
				}
				td:nth-child(2){
					width: 70%;
					
				}
				td:nth-child(3){
					width: 23%;
				}
				td:nth-child(4){
					width: 45%;
				}
				td:last-child{
					width: 15%;
				}
			}
		}

		.shopcart_table tr td:nth-child(2) h6{
			height: 55px;
		}
		 .delivery_table tr td:nth-child(2){
		 	line-height: 2;
		 }

		.issue_table{
			
			tr{
				td:first-child{
					// width: 47%;
				}
				
				td:nth-child(2){
					line-height: 1;
					// width: 47%;
					// font-size: 21px;
				}
				td:nth-child(3){
					line-height: 1.2;
					// width: 47%;
				}
				td:last-child{
					// width: 47%;
					// padding-top: 0;
				}
			}
		}

	}

	@media only screen and (max-width: 380px) {
		.shopcart_table2{
			
			tr{
					
				td:first-child{
					width: 26%;
				}
				
				td:nth-child(2){
					width: 73%;
					padding-right: 60px;
				}
				td:nth-child(3){
					width: 100%;
					line-height: 2;
				}
				td:nth-child(4){
					width: 100%;
					.input_num_wrap{
						float: none;
						margin-top: 0;
						margin-left: auto;
						margin-right: auto;
					}
				}
				td:nth-child(5){
					width: 100%;
					line-height: 2;
				}
				
			}
		}

		.ordering_table tr.last_row{
			td:first-child{
				padding-left: 0;
				
				.promo_code__wrap {
					width: 100%;
					
					&__btn{
						top: 0 !important;
					}
				}
			}
		}

		.ordering_table{
			tr{
				
				td:first-child{
					width: 25%;
				}
				td:nth-child(2){
					width: 70%;
				}

				td:nth-child(3){
					width: 45%;
				}
				td:nth-child(4){
					width: 30%;
					font-size: 17px;
				}
				td:last-child{
					width: 15%;
				}
			}
		}

		.product_table{

			tr{
				
				td{
					&:first-child{
						width: 30%;
					}

					&:nth-child(3){
						
						.input_num_wrap{
							width: 97px;
						}
					}

					&:last-child{
						// width: 15%;
					}

					.btn_2{
						padding: 10px 15px;
						// min-width: 100px;
					}
				}
			}

			&--present_count{
				font-size: 13px;
			}
		}
	}