// Components: text box
.text_box{
	overflow: hidden;
	background-color: #FFF;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
    -webkit-box-shadow: 0px -5px 2px #f6f6f6, 5px 0px 2px #f6f6f6, 0px 5px 2px #f6f6f6, -5px 0px 2px #f6f6f6;
        	box-shadow: 0px -5px 2px #f6f6f6, 5px 0px 2px #f6f6f6, 0px 5px 2px #f6f6f6, -5px 0px 2px #f6f6f6;
	

	&__title{
		width: 100%;
		display: inline-block;
		background-color: #F7F8F9;
		padding: 13px 14px 13px 18px;
		
		[class^="title--"]{line-height: 30px;}
		
		*{float: left;}

		&__left{
			
			*{float: none;}
		}
		
		&__right{
			float: none;
			
			.product_single__info__stars{
				padding-top: 5px;
				margin-right: 8px;
			}
		}
	}

	&__content{
		color: #4C4C4C;
		padding: 20px 18px;
		
		.title--7{line-height: 1.5;}

		.yes,
		.no{
			color: #73964A;
			font-size: 14px;
			font-weight: bold;
			margin-left: 20px;
			display: inline-block;
		}

	}
}



// RESPONSIVE _table
	@media only screen and (max-width: 667px) {
	
		.text_box__title__right,
		.text_box__title *{
			float: none;
		}
	}

	@media only screen and (max-width: 550px) {
	
		.text_box{
			

			&__title{
				
				&__left{
					
					.title--5{
						font-size: 16px;
					}
				}
			}
		}
	}

	