@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;  //14
  line-height: 1.5;
  color: #333333;
  min-width: 320px;
  background-color: #fff;
  -webkit-text-size-adjust: none;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------> Links And buttons <------------------*/
a {
  color:#28292b;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}

input,
button,
textarea{
  font-family: 'PT Sans', Helvetica, sans-serif;
  outline:none;
}

button{
  cursor: pointer;
}

// .mob_show,
// .mob_show_container{
//   display: none !important;
// }


/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.val_mid{vertical-align: middle;}

.font_10{font-size: 10px;}
.font_11{font-size: 11px;}
.font_12{font-size: 12px;}
.font_14{font-size: 14px;}
.font_15{font-size: 15px;}
.font_16{font-size: 16px;}
.font_17{font-size: 17px;}
.font_20{font-size: 20px;}
.font_21{font-size: 21px;}
.font_65{font-size: 65px;}

.lh_28{
  line-height: 28px;
}

.lh_32{
  line-height: 32px !important;
}

.lh_2{
  line-height: 1.8;
}
.lh_1_3{
  line-height: 1.3;
}


/*----------------------> Font weights <------------------*/
  @font-face {
      font-family: 'exo_2.0bold';
      src: url('../../font/exo-2-0.bold-webfont.woff2') format('woff2'),
           url('../../font/exo-2-0.bold-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'exo_2.0regular';
      src: url('../../font/exo-2-0.regular-webfont.woff2') format('woff2'),
           url('../../font/exo-2-0.regular-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'a_avantebsregular';
      src: url('../../font/7fonts.ru_49avante_b-webfont.woff2') format('woff2'),
           url('../../font/7fonts.ru_49avante_b-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;

  }


  @font-face {
      font-family: 'a_avantebsregular';
      src: url('../../font/7fonts.ru_60avante_b-webfont.woff2') format('woff2'),
           url('../../font/7fonts.ru_60avante_b-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;

  }
  
  .exo_reg{font-family: 'exo_2.0regular';}
  .exo_bold{font-family: 'exo_2.0bold';}

  .ptsans{font-family: 'PT Sans', Helvetica, sans-serif;}

  .bold{font-weight: bold;}
  .norm{font-weight: normal;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}

.k-hidden{
  visibility: hidden;
}

/*----------------------> Basic Colors <------------------*/

[data-color="white"]{color: #fff;}

[data-color="black"]{color: #141414;}

[data-color="orange"]{color: #f68901;}

[data-color="green"]{color: #73964a;}

[data-color="green_dark"]{color: #33490B;}

[data-color="brown"]{color: #4B2A00;}

[data-color="brown2"]{color: #56493B;}

[data-color="brown3"]{color: #5A4730;}

[data-color="yellow"]{color: #ffbf00;}

[data-color="grey"]{color: #4C4C4C;}

[data-color="grey_light"]{color: #7F7F7F;}

[data-bg="white"]{background-color: #FFF;}

[data-bg="black"]{background-color: #000;}

[data-bg="dark"]{
  background-color: #000;
  padding: 25px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

[data-bg="beige"]{
  background-color: #fbf7f3;
}

[data-bg="blue_light"]{
  background-color: #f7f8f9;
}


[data-mark="rhomb"]{
  padding-left: 18px;
  background: url(../../../images/icon/rhomb.png) 4px 50% no-repeat;
}

// [data-skin="main_bg"]{
//   background: url(../../../images/main_bg.png) 0 0 no-repeat;
//   -webkit-background-size: 100% 650px;
//        -o-background-size: 100% 650px;
//           background-size: 100% 650px;
// }

/*======================> Header <======================*/

header {}
  .logo{}
    .logo a{
      display:block;
      width:278px;
      height:85px;
      background:url(../images/logo.png) 0 0 no-repeat;
      text-decoration:none;
      text-indent:-9999px;
    }



/*=====================> Content ========================*/
#content {
    padding-top: 80px;
    padding-bottom: 80px;
    // min-height: 1500px;
    line-height: 28px;

    p{
      margin-bottom: 28px;
    }
}
  .img_box img{
    width: 100%;
    height: auto;
  }

  // BREADCRUMBS
    .breadcrumbs{
      padding-top: 20px;
      
      a{
        color: #060;
        padding-right: 5px;
        position: relative;
        
        &:hover{
          text-decoration: underline;
        }
        
        &::after{
          content: "";
          width: 6px;
          height: 23px;
          margin-left: 5px;
          display: inline-block;
          background: url(../../../images/icon/breadcrumb_arrow.png) 0 52% no-repeat;
        }
      }

      span{
        color: #56493B;
      }
    }


  .hr1{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    opacity: .3;
    margin-top: 4px;
    border-bottom: 1px dashed #56493b;
  }
  .hr2{
    width: 67px;
    border: none;
    height: 1px;
    
    
    margin-left: 0;
    background-color: rgba(255, 255, 255, .5);
  }

  .hr3{
    width: 154px;
    border: none;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F69530;
  }


  .editor{
    position: relative;
    z-index: 10;
    
    p{line-height: 1.6;}
    p:not(:last-child){
      margin-bottom: 0;
    }
  }

  .resize_img_box{
    margin-top: -30px;
    margin-left: -60px;
    position: relative;
    z-index: 5;
    margin-right: -70px;
    
  }

  .balance_info{
    
    line-height: 1.3;
    span:last-child{
      line-height: 2.2;
      margin-left: 10px;
    }
    
    .title--5{
      line-height: 1.3;
      margin-right: 10px;
    }
  }


  .order_price{

    span.bold{
      line-height: 2.2;
    }
    
    span:first-child,
    span:nth-child(3){
      line-height: 2.8;
    }

    .btn_2{
      margin-left: 15px;
    }
  }


  .map_wrap{
    padding: 8px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0px -2px 2px #eee, 2px 0px 2px #eee, 0px 2px 2px #eee, -2px 0px 2px #eee;
            box-shadow: 0px -2px 2px #eee, 2px 0px 2px #eee, 0px 2px 2px #eee, -2px 0px 2px #eee;
  }

/*=====================> Paragraphs ========================*/

.p_m_zero{
  p{margin-bottom: 0;}
}

p {margin-bottom:10px;}
.mb0{ margin-bottom:0px;}
.mb1{ margin-bottom:1px;}
.mb2{ margin-bottom:2px;}
.mb3{ margin-bottom:3px;}
.mb4{ margin-bottom:4px;}
.mb5{ margin-bottom:5px;}
.mb6{ margin-bottom:6px;}
.mb7{ margin-bottom:7px;}
.mb8{ margin-bottom:8px;}
.mb9{ margin-bottom:9px;}
.mb10{ margin-bottom:10px;}
.mb11{ margin-bottom:11px;}
.mb12{ margin-bottom:12px;}
.mb13{ margin-bottom:13px;}
.mb14{ margin-bottom:14px;}
.mb15{ margin-bottom:15px;}
.mb16{ margin-bottom:16px;}
.mb17{ margin-bottom:17px;}
.mb18{ margin-bottom:18px;}
.mb19{ margin-bottom:19px;}
.mb20{ margin-bottom:20px;}
.mb21{ margin-bottom:21px;}
.mb22{ margin-bottom:22px;}
.mb23{ margin-bottom:23px;}
.mb24{ margin-bottom:24px;}
.mb25{ margin-bottom:25px;}
.mb26{ margin-bottom:26px;}
.mb27{ margin-bottom:27px;}
.mb28{ margin-bottom:28px;}
.mb29{ margin-bottom:29px;}
.mb30{ margin-bottom:30px;}
.mb31{ margin-bottom:31px;}
.mb32{ margin-bottom:32px;}
.mb33{ margin-bottom:33px;}
.mb34{ margin-bottom:34px;}
.mb35{ margin-bottom:35px;}
.mb36{ margin-bottom:36px;}
.mb37{ margin-bottom:37px;}
.mb38{ margin-bottom:38px;}
.mb39{ margin-bottom:39px;}
.mb40{ margin-bottom:40px;}

.ml10{margin-left: 10px;}

@media only screen and (min-width: 1024px){
  .mb41{ margin-bottom:41px;}
  .mb42{ margin-bottom:42px;}
  .mb43{ margin-bottom:43px;}
  .mb44{ margin-bottom:44px;}
  .mb45{ margin-bottom:45px;}
  .mb46{ margin-bottom:46px;}
  .mb47{ margin-bottom:47px;}
  .mb48{ margin-bottom:48px;}
  .mb49{ margin-bottom:49px;}
  .mb50{ margin-bottom:50px;}
  .mb51{ margin-bottom:51px;}
  .mb52{ margin-bottom:52px;}
  .mb53{ margin-bottom:53px;}
  .mb54{ margin-bottom:54px;}
  .mb55{ margin-bottom:55px;}
  .mb56{ margin-bottom:56px;}
  .mb57{ margin-bottom:57px;}
  .mb58{ margin-bottom:58px;}
  .mb60{ margin-bottom:60px;}
  .mb62{ margin-bottom:62px;}
  .mb63{ margin-bottom:63px;}
  .mb64{ margin-bottom:64px;}
  .mb65{ margin-bottom:65px;}
  .mb67{ margin-bottom:67px;}
  .mb68{ margin-bottom:68px;}
  .mb70{ margin-bottom: 70px;}
  .mb72{ margin-bottom: 72px;}
  .mb73{ margin-bottom: 73px;}
  .mb75{ margin-bottom: 75px;}
  .mb80{ margin-bottom: 80px;}
  .mb84{ margin-bottom: 84px;}
  .mb90{ margin-bottom: 90px;}
  .mb104{ margin-bottom: 104px;}
  .mb100{ margin-bottom: 100px;}
  .mb110{ margin-bottom: 110px;}
  .mb120{ margin-bottom: 120px;}
  .mb130{ margin-bottom: 130px;}
  .mb145{ margin-bottom: 145px;}
  .mb150{ margin-bottom: 150px;}
  .mb155{ margin-bottom: 155px;}
  .mb160{ margin-bottom: 160px;}
  .mb180{ margin-bottom: 180px;}
  .mb250{ margin-bottom: 250px;}
  .mb300{ margin-bottom: 300px;}
  .mb335{ margin-bottom: 335px;}
  .mb380{ margin-bottom: 380px;}
}

@media only screen and (max-width: 1023px){
  .mb41, .mb42, .mb43, .mb44, .mb45, .mb46, .mb47, .mb48, .mb49, .mb50, .mb51, .mb52, .mb53, .mb54, .mb55, .mb56, .mb57, .mb58, .mb60, .mb62, .mb63, .mb64, .mb65, .mb67, .mb68,
  .mb70, .mb72, .mb73, .mb75, .mb80, .mb84, .mb90, .mb104, .mb100, .mb110, .mb120, .mb130, .mb145, .mb150, .mb155, .mb160, .mb180, .mb250, .mb300, .mb335, .mb380{ margin-bottom: 30px;}
}

@media only screen and (max-width: 1024px){
  .mb100, .mb300{ margin-bottom: 30px;}
}


/*=====================> Lists ========================*/
// .list1{}
// .list1 li{
//   position: relative;
//   margin-bottom: 20px;
  
//   &:last-child{
//     margin-bottom: 0;
//   }
//   &::before{
//     content: "";
//     position: absolute;
//     top: 12px;
//     left: -30px;
//     width: 6px;
//     height: 6px;
//     -webkit-border-radius: 50%;
//     border-radius: 50%;
//     background-color: #FF8401;
//   }
// }
// .list2 a{}

// .list3{}
// .list3 li{
//   background:url(../images/marker1.png) 0 7px no-repeat;
//   padding-left:20px;
// }
// .list3 a{}


/*================================>> Progrtess labels  <<========================================*/
.k-proccess-label{
  display: inline-block;
  padding: 5px 10px 4px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
/*================================>> GOOGLE FONTS  <<========================================*/



/*================================>> hovers <<========================================*/
.services__thumb,
a,
.popup--appoinment__days span,
.popup--appoinment__time{
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.services__thumb:hover,
a:hover,
.popup--appoinment__time:hover,
.popup--appoinment__days span:hover{
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}


.k-dd-list li:hover,
.k-dd-list li span:hover [data-dd-login-btn]{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

@media only screen and (max-width: 1200px){
  #content{
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 1024px){
  .content__item{
    padding: 40px 0;
  }

  .list1 li{
    padding-left: 30px;

    &::before{
      left: 0;
    }
  }
}

@media only screen and (max-width: 1023px){
  
  .breadcrumbs{
    margin-top: -20px;
  }
}

@media only screen and (max-width: 995px){

}


@media only screen and (max-width: 768px){
  body{
    -ms-overflow-x: hidden;
        overflow-x: hidden;
  }

  .list1 li::before{
    content: "";
    left: -15px;
  }

  .content__item{
    padding-bottom: 5px;
  }

  .mob_hide{
    display: none !important;
  }
  .mob_show{
    display: inline-block !important;
  }

  .mob_show_container{
    display: block !important;
  }

  .mob_top_ind{
    margin-top: 20px !important;
  }

  .mb150{margin-bottom: 0;}
  .mb150 + br{display: none;}
  .mb150 + br + .mb75{margin-bottom: 0;}

}

@media only screen and (max-width: 600px){
  .news_nav__filter,
  .news_nav__menu{
    float: none;
    margin-bottom: 10px;
  }


  .news_nav__menu{
    display: block;
  }

  .styler .jq-selectbox__dropdown{
    left: 0 !important;
    right: auto !important;
  }


}

@media only screen and (max-width: 580px){
  .col-xs-6{
    width: 100% !important;
  }
}

@media only screen and (max-width: 479px){
  
  .mob_show{
    display: block !important;
  }

  

}


// RESPONSIVE _base
  @media only screen and (max-width: 1400px) {
     
  }

  @media only screen and (max-width: 1280px) {
    .resize_img_box{margin-right: 0;}
  }
