// ------------    Buttons    --------------
.btn_1{
	font-size: 16px;
	padding: 9px 14px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: transparent;
}

.btn_2{
	font-size: 14px;
	color: #4B2A00;
	padding: 10px 20px;
	font-weight: bold;
	border: none;
	min-width: 130px;
	text-align: center;
	
	background: rgb(252,200,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252,200,0,1) 0%, rgba(253,186,0,1) 2%, rgba(252,179,1,1) 47%, rgba(251,168,1,1) 50%, rgba(249,155,1,1) 53%, rgba(241,135,1,1) 98%, rgba(228,126,1,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(252,200,0,1) 0%,rgba(253,186,0,1) 2%,rgba(252,179,1,1) 47%,rgba(251,168,1,1) 50%,rgba(249,155,1,1) 53%,rgba(241,135,1,1) 98%,rgba(228,126,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(252,200,0,1) 0%,rgba(253,186,0,1) 2%,rgba(252,179,1,1) 47%,rgba(251,168,1,1) 50%,rgba(249,155,1,1) 53%,rgba(241,135,1,1) 98%,rgba(228,126,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc800', endColorstr='#e47e01',GradientType=0 ); /* IE6-9 */
}
.btn_2:hover{
	color: #fff;
	background: rgb(228,126,1); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(228,126,1,1) 0%, rgba(241,135,1,1) 2%, rgba(249,155,1,1) 47%, rgba(251,168,1,1) 50%, rgba(252,179,1,1) 53%, rgba(253,186,0,1) 98%, rgba(252,200,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(228,126,1,1) 0%,rgba(241,135,1,1) 2%,rgba(249,155,1,1) 47%,rgba(251,168,1,1) 50%,rgba(252,179,1,1) 53%,rgba(253,186,0,1) 98%,rgba(252,200,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(228,126,1,1) 0%,rgba(241,135,1,1) 2%,rgba(249,155,1,1) 47%,rgba(251,168,1,1) 50%,rgba(252,179,1,1) 53%,rgba(253,186,0,1) 98%,rgba(252,200,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e47e01', endColorstr='#fcc800',GradientType=0 ); /* IE6-9 */
}

.btn3{
	color: #F68901;
	font-size: 15px;
	padding: 9px 5px 6px;
	border: 1px solid #F68901;
	text-transform: uppercase;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	font-family: 'exo_2.0bold', sans-serif;
}

[class^="btn_"]{
	display: inline-block;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}


[data-btn-color="green"]{
	color: #73964A;
	border: 2px solid #73964A;
}
[data-btn-color="green_dark"]{
	color: #33490b;
	border: 2px solid #33490b;
}
[data-btn-color="white"]{
	color: #fff;
	border: 2px solid #fff;
}

[data-btn-color="orange"]{
	color: #F68901;
	border: 2px solid #F68901;
}

[data-btn-color="green"]:hover,
[data-btn-color="white"]:hover,
[data-btn-color="green_dark"]:hover,
[data-btn-color="orange"]:hover,
.btn3:hover{
	color: #FFF;
	background-color: #F68901;
	border-color: #F68901;
}

// .btn1::first-letter{
// 	color: #f68901 !important;
// }

// ------------    Links    --------------

[data-link-size="link_big"]{
	font-size: 18px;
	padding-bottom: 0px;
	font-family: 'exo_2.0regular', sans-serif;
}
[data-link-size="link_small"]{
	font-size: 15px;
}

[data-link-size="link_big"]:hover,
[data-link-size="link_small"]:hover{
	border-bottom-color: transparent;
}

[data-link_color="green"]{
	color: #73964A;
	border-bottom: 1px dashed #73964A;
}

[data-link_color="brown"]{
	color: #33490b;
	border-bottom: 1px dashed #33490b;
}

.td_no_und{text-decoration: none;}
.td_no_und:hover{text-decoration: underline;}

.call{
	color: #F68901;
	font-size: 15px;
	padding: 7px 0 7px 40px;
	background: url(../../../images/icon/icon_9.png) 0% 50% no-repeat;
	
	span{
		border-bottom: 1px dashed #F68901;
	}

	&:hover span{
		border-bottom-color: transparent;
	}
}

.mail{
	color: #F68901;
	font-size: 14px;
	padding: 5px 0 5px 40px;
	background: url(../../../images/icon/icon_10.png) 9px 50% no-repeat;
	
	span{
		border-bottom: 1px dashed transparent;
	}
	&:hover span{
		border-bottom: 1px dashed #F68901;
	}
}

.shopcart{
	color: #F68901;
	font-size: 19px;
	padding: 3px 0px 3px 45px;
	margin-bottom: 5px;
	background: url(../../../images/icon/icon_7.png) 0 50% no-repeat;
	
	span{
		border-bottom: 1px dashed #F68901;
	}

	&:hover span{
		border-bottom-color: transparent;
	}
}

.order_status{
	color: #5A4730;
	padding: 7px 0 7px 40px;
	background: url(../../../images/icon/icon_8.png) 0 50% no-repeat;
	
	span{
		border-bottom: 1px dashed transparent;
	}
	&:hover span{
		border-bottom: 1px dashed #5A4730;
	}
}

.delivery{
	padding-left: 50px;
	background: url(../../../images/icon/bus.png) 3px 50% no-repeat;
	
	*{
		font-weight: normal;
	}
}

.buy{
	padding: 7px 0 7px 50px;
	background: url(../../../images/icon/icon_14.png) 10px 50% no-repeat;
	
	*{
		font-weight: normal;
	}
}

.link_vs_arrow{
	margin-left: 113px;
	

	display: block;
	width: 130px;
	padding-right: 10px;
	background: url(../../../images/icon/or_right.png) 100% 50% no-repeat;
}

.link_vs_arrow2{
	font-size: 14px;
	position: relative;
	
	&:hover{
		text-decoration: underline;
	}
	
	
	&::after{
		content: "";
		width: 5px;
		height: 9px;
		padding-left: 7px;
		display: inline-block;
		background: url(../../../images/icon/or_right.png) 100% 50% no-repeat;
	}
}

.social{
	
	&__item{
		float: left;
		line-height: 1.8;
		
		&:not(:first-child){
			margin-left: 75px;
		}

		&:hover{
			text-decoration: underline;
		}

		img{
			margin-left: 7px;
		}
	}
}


// ------------    Lists    --------------

	

	.alphabet{
		padding-left: 292px;
		background-color: #73964A;
		
		&__list{
			width: 100%;
			// text-align: center;
			display: inline-block;
			
			li{
				margin: 0 -1px;
				display: inline-block;
				font-family: 'exo_2.0regular', sans-serif;
				
				a{
					display: block;
					font-size: 15px;
					color: #FFCA00;
					line-height: 44px;
					padding: 0 8px;
					text-decoration: none;
					text-transform: uppercase;
				}

				&.active{
					font-family: 'exo_2.0bold', sans-serif;
					background-color: #33490B;
					
					a{
						color: #fff;
						padding: 0 11.5px;
					}
				}
				&:hover{
					background-color: #33490B;
				}
			}

			&__more{
				margin-left: 20px !important;
			}

		}
	}

	.search_alphabet{
		background: none;
		padding-left: 0;
		
		li{
			
			a{
				color: #141414;
			}
		}

		li:hover{
			
			a{
				color: #FFF;
			}
		}

		.alphabet__list__more{
			margin-left: 17px !important;
			
		}
	}

	.determ_list{
		width: 100%;
		display: inline-block;
		
		&__dt{
			color: #73964A;
			width: 155px;
			float: left;
		}
		&__dd{
			float: left;
			color: #56493B;
			margin-bottom: 5px;
			width: calc(100% - 155px);
		}
	}

	.determ_list2{
		width: 100%;
		color: #56493B;
		display: inline-block;
		
		dt{
			width: 70px;
			float: left;
		}
		dd{
			float: left;
			margin-bottom: 7px;
			display: inline-block;
			width: calc(100% - 70px);
		}
	}

	.determ_list3{
		line-height: 2;
		font-size: 14px;
		display: inline-block;
		
		dt{
			width: 120px;
			float: left;
		}
		dd{
			width: calc(100% - 130px);
			float: left;
		}
	}

	.list{
		
		li{
			
			a{
				color: #FFF;
				
				&:hover{
					border-bottom: 1px dashed #fff;
				}
			}
		}
	}

	.list2{
		
		li{
			padding-left: 30px;
			position: relative;
			margin-bottom: 15px;
			
			&:before{
				content: "";
				width: 4px;
				height: 4px;
				display: block;
				background-color: #73964A;
				left: 13px;
				top: 10px;
				position: absolute;
			}

			.btn_1{
				font-size: 14px;
				border-width: 1px;
				padding: 2px 17px;
				text-transform: capitalize;
				font-weight: normal;
				margin-left: 25px;	
			}
		}
	}

	.list3{
		
		li{
			font-size: 14px;
			padding-left: 16px;
			position: relative;
			
			&::before{
				content: "";
				width: 4px;
				height: 4px;
				left: 5px;
				top: 7px;
				position: absolute;
				background-color: #86BA38;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
			}
		}
	}

	.list4{
		
		li{
			padding-left: 20px;
			position: relative;
			margin-bottom: 2px;
			
			&::before{
				content: "";
				width: 4px;
				height: 4px;
				top: 7px;
				left: 5px;
				display: block;
				position: absolute;
				background-color: #F69530;
			}
			
			a{
				
			}
		}
	}

	.private_info{
		
		dt{
			font-size: 14px;
			line-height: 2;
			width: 100px;
			display: inline-block;
		}
		dd{
			font-size: 14px;
			line-height: 2;
			display: inline;
			// width: calc(100% - 100px);
			
			a{
				color: #73964A;
				
				&:hover{
					border-bottom: 1px dashed #73964A;
				}
			}
		}
	}

	.steps_list{
		
		&__item{
			width: 32%;
			position: relative;
			
			&::after{
				content: "";
				height: 3px;
				left: 0;
				right: 0;
				top: 15px;
				z-index: 10;
				background-color: #33490B;
				position: absolute;
			}

			&__num{
				color: #fff;
				font-size: 21px;
				font-weight: bold;
				width: 31px;
				height: 31px;
				display: inline-block;
				text-align: center;
				position: relative;
				z-index: 20;
				background-color: #F9CD97;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
			}

			&__info{
				color: #73964A;
			}

		}

		&__item:not(:last-child){
			
			float: left;
			text-align: left;
		}

		&__item:nth-child(3){
			width: 18%;
		}

		&__item:last-child{
			width: 18%;
			float: right;
			text-align: right;
		}

		&__item.current{
			.steps_list__item__num{
				background-color: #F68901;
			}
		}
		

		&__item.active{
			
			&::after{
				content: "";
				background-color: #F68901;
			}

			.steps_list__item__num{
				background-color: #F68901;
			}
		}

		&__item:nth-child(3).active + &__item{
			&::after{
				content: "";
				background-color: #F68901;
			}
		}
		
	}


	[data-border^="border_left_"]{
		padding-left: 22px;
		border-width: 2px;
		border-style: solid;
		border-top: none;
		border-bottom: none;
		border-right: none;
	}
	[data-border="border_left_green"]{
		border-left-color: #73964A;
	}


	.price_block{
		overflow: hidden;
	    position: relative;
	    padding-top: 20px;
	    padding-bottom: 10px;
	    background-color: #F7F8F9;
	    -webkit-border-radius: 7px;
	    		border-radius: 7px;
	    -webkit-box-shadow: 0px -2px 2px #f6f6f6, 2px 0px 2px #f6f6f6, 0px 2px 2px #f6f6f6, -2px 0px 2px #f6f6f6;
	    		box-shadow: 0px -2px 2px #f6f6f6, 2px 0px 2px #f6f6f6, 0px 2px 2px #f6f6f6, -2px 0px 2px #f6f6f6;
		
		&::before{
			content: "";
			position: absolute;
			left: 24px;
			right: 24px;
			top: 0;
			height: 2px;
			background-color: #F68901;
			display: block;
		}

		h5{
			padding-left: 15px;
		}

		.price_list{
			
			li{
				padding: 10px 15px;
				
				.f_left{
					line-height: 2;
				}

				.f_right{
					font-size: 22px;
				}
			}
			&[data-list="stryped"]{
				li:nth-child(odd){
					background-color: #F4F1EE;
				}
			}
		}

		&__btn_wrap{
			text-align: center;
		}

		.form{
			padding-left: 13px;
			padding-right: 13px;
		}
	}


// RESPONSIVE Components: buttons links lists

	@media only screen and (max-width: 1199px) {
		
		.alphabet__list{
			li{
				
				a{
					padding: 0 5px;
				}
			}
		}
	}

	@media only screen and (max-width: 1024px) {
		.determ_list{
			font-size: 13px;
			
			&__dt{
				width: 140px;
			}
			&__dd{
				width: calc(100% - 145px);
			}
		}
	}

	@media only screen and (max-width: 995px) {
		.list2 li{
			margin-bottom: 12px;
		}

		.private_info {
			dt{width: 99px;}
		}

		.social {
			&__item{
				float: none;
				margin-left: 0 !important;
			}
		}
	}

	@media only screen and (max-width: 768px) {

		.private_info {
			dd{
				width: calc(100% - 110px);
				display: inline-block;
				br{display: none;}
			}
		}

		.alphabet{display: none;}
	}

	@media only screen and (max-width: 668px) {
		
		.alphabet__list{
			right: -999px;
			position: absolute;
			width: 100%;
			background-color: #73964A;
			-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
			        box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
			
			-webkit-transition: all 0.3s ease;
		    -moz-transition: all 0.3s ease;
		    -o-transition: all 0.3s ease;
		    transition: all 0.3s ease;
		}

		.nav3_overlay{
			.alphabet__list{
				right: 0;
			}
		}

		.breadcrumbs{padding-top: 0;}
	}

	@media only screen and (max-width: 550px) {
		.search_result .search_result__list{width: 33%;}
	}

	@media only screen and (max-width: 480px) {
		.search_result .search_result__list{width: 48%;}
		.steps_list__item__info{
			font-size: 13px;
		}

		.steps_list{
			
			&__item{
				width: 100%;
				float: none;
				padding-bottom: 25px;
				
				&:nth-child(3),
				&:last-child{
					width: 100%;
				}

				&:last-child{
					&::after{
						bottom: 36px;
					}
				}

				&::after{
					height: auto;
					width: 3px;
					left: 14px;
					top: 0;
					bottom: 0;
				}
				
				&__num{
					float: left;
				}

				&__info{
					float: left;
					margin-left: 7px;
					line-height: 2;
					padding-top: 3px;
					
					br{display: none;}
				}
			}
		}
	}

	@media only screen and (max-width: 360px) {
		

		.social__item{
			a{font-size: 14px;}
		}

		.search_result .search_result__list{
			width: 100%;
			float: none;
			
		}
	}