// Forms

.select_row{

  .title--5{
    float: left;
    display: block;
    line-height: 1.8;
    margin-right: 10px;
  }
  
  &__box{
    width: 352px;
    float: left;
    position: relative;
    
    span{
      font-size: 15px;
      position: absolute;
      left: 20px;
      top: 7px;
    }

    .select_box{
      width: 100%;
      padding-left: 100px;
    }
  }
}

[data-input-size="xs_55"]{width: 55px;}
[data-input-size="xs_115"]{width: 115px; margin-right: 15px;}
[data-input-size="xs"]{width: 228px;}
[data-input-size="sm"]{width: 260px;}
[data-input-size="md"]{width: 273px;}
[data-input-size="lg"]{width: 352px;}
[data-input-size="xl"]{width: 423px;}

[data-label-size="xs"]{width: 111px;}
[data-label-size="xs"] + .form__input{
  width: calc(100% - 111px);
}

[data-label-size="sm"]{width: 130px;}
[data-label-size="sm"] + .form__input{
  width: calc(100% - 130px);
}

[data-label-size="md"]{width: 143px;}
[data-label-size="md"] + .form__input{
  width: calc(100% - 143px);
}

[data-label-size="lg"]{width: 170px;}
[data-label-size="lg"] + .form__input{
  width: calc(100% - 170px - 10px);
  margin-left: 10px !important;
}

[class*='al_right'][data-label-size="md"] + .form__input{
  width: calc(100% - 143px - 30px);
}


[data-form-width="670"]{
  width: 670px;
}

[data-form-row-size="317"]{
  width: 317px;
}

/*----------------  Default form's styles  ---------------*/
  .form{
    
    &__row{
      margin-bottom: 15px;
    }

    &__control{}

    &__label{
      line-height: 2.55;
      color: #4C4C4C;
      font-size: 15px;
      
      & + span{
        line-height: 2.55;
      }
    }

    &__input{
      // min-width: 228px;
      position: relative;
      
      input{
        width: 100%;
        
        color: #4C4C4C;
        font-size: 15px;
        padding: 0 10px;
        line-height: 2.55;
        border: 1px solid #cdcdcd;
        -webkit-border-radius: 5px;
                border-radius: 5px;
      }
    }

    &__textarea{
      
      textarea{
        width: 100%;
        line-height: 1.5;
        resize: none;
        min-height: 95px;
        padding: 5px 10px;
        border: 1px solid #cdcdcd;
        -webkit-border-radius: 5px;
                border-radius: 5px;
      }
        
    }

    &__error{}

    &__file{
      position: relative;
      display: inline-block;
      width: 100%;
      
      div{
        width: 112px;
        height: 110px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 20;
        cursor: pointer;
        opacity: 0;
        
        input{
          display: inline-block;
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }

      .form__label{
        position: relative;
        z-index: 10;
        font-size: 15px;
        line-height: 1;
        color: #73964A;
        display: inline-block;
        padding-top: 90px;
        text-align: center;
        background: url(../../../images/avatar.png) 50% 0% no-repeat;
      }
    }

  }



/*----------------  All form's styles  ---------------*/
  .center_form{
    margin-left: auto;
    margin-right: auto;
  }

  .abs_placeholder{
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
  }
  .form__input input:focus + .abs_placeholder{
    display: none;
  }


  .form__label.al_right + .form__input{
    margin-left: 20px;
  }


  .simple_label{
    margin-right: 15px;
  }
  .form__input + .simple_label{
    margin-left: 15px;
    margin-right: 0;
  }


  .promo_code__wrap{
    // width: 280px;
    position: relative;
    
    .form__input{
      width: 100%;
      
      input{
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        padding-right: 45px;
      }
    }
    
    &__btn{
      position: absolute;
      width: 45px;
      height: 45px;
      right: 0;
      top: 0;
      border: none;
      cursor: pointer;
      background: #f69530 url(../../../images/icon/btn_arrow.png) 50% 50% no-repeat;
    }

  }

  .phone_box{
    
    span{
      font-size: 15px;
      line-height: 2.6;
      display: inline-block;
      width: 30px;
    }
    .phone_description{
      float: none;
      width: 100%;
      display: inline-block;
      font-size: 14px;
      padding-left: 30px;
      margin-bottom: 30px;
    }
  }

  input.mask{
    color: #73964a;
    font-size: 15px;
    font-family: 'exo_2.0bold';
  }


  .form__row .rating_row__checkbox{

    width: 100%;
    float: none;
    margin-right: 0;
    
    &__checkbox{
      margin-right: 10px;
    }
    

    span{
      line-height: 1.7;
    }
  }

  .btn_1.font_14{
    font-size: 14px;
    padding: 8px 14px;
  }

  .info{
    width: 21px;
    height: 21px;
    display: inline-block;
    background: url(../../../images/icon/znak.png) 50% 50% no-repeat;
  }
  
  
  .form_stars{
    
    .product_single__info__stars{
      margin-left: 10px;
      margin-right: 10px;
      margin-top: -2px;
      
      span{
        line-height: 2.3;
      }
    }
  }


  .text_2_rows{
    padding-top: 4px;
    width: 143px;
    float: left;
    line-height: 1.2;
  }
  

  .select_box.f_left{
    float: left;
  }

  .select_box[data-input-size="xs_115"]{
    width: 115px !important;
  }

  .btn_2.f_left{margin-right: 15px;}

  
  .form__row_checkbox{

    span.font_14{
      width: 375px;
    }
    
    .rating_row__checkbox{
      width: auto;
      margin-left: 15px;
      
      .form__label{
        line-height: 1.6;
      }
    }
  }


/*---------------  Didi  ----------------*/
  .contact_form_wrapp {
      width: 100%;
  }

  .contact_form_wrapp .contact_form {
    border-radius: 10px;
     -webkit-box-shadow: 0 -5px 5px #e9e9e9, 5px 0 5px #e9e9e9, 0 5px 5px #e9e9e9, -5px 0 5px #e9e9e9;
         box-shadow: 0 -5px 5px #e9e9e9, 5px 0 5px #e9e9e9, 0 5px 5px #e9e9e9, -5px 0 5px #e9e9e9;
    padding: 25px;
  }


  .form_row {
      width: 377px;
      margin-bottom: 15px;
      position: relative;
  }
  .form_box2{
    width: 790px;
  }

  .form_row input[type="text"] {
      width: 100%;
      line-height: 45px;
      background: #fff;
      border-radius: 10px;
      margin-top: 13px;
      border: 1px solid #dcdcdc;
      color: #646464;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      padding: 0 12px;
      resize: none;
  }

  .form_row textarea{
      width: 100%;
      height: 101px;
      background: #fff;
      border-radius: 10px;
      border: 1px solid #dcdcdc;
      padding: 18px 12px;
      margin-top: 13px;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      line-height: 1.2;
      resize: none;
  }

  .box_bg{
    
  }
  .link_close{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 13px;
    right: 16px;
    
    background: url(../../../images/icon/link_close.png) 50% 50% no-repeat;
  }


  .color_choice{
    width: 100px;
    float: left;
    margin: -2px -2px;
    
    &__input{
      float: left;
      width: 21px;
      height: 21px;
      display: block;
      position: relative;
      margin: 0 2px 2px;

      
      b{
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 5;
        position: absolute;
        display: inline-block;
        border: 1px solid #E2E2E2;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        
        &[data-inp-color="orange"]{
          background-color: #F68901;
        }

        &[data-inp-color="yellow"]{
          background-color: #ffca00;
        }

        &[data-inp-color="blue_light"]{
          background-color: #80dffe;
        }

        &[data-inp-color="aqua"]{
          background-color: #79CAA4;
        }

        &[data-inp-color="aqua_dark"]{
          background-color: #548f73;
        }

        &[data-inp-color="blue"]{
          background-color: #009ad5;
        }
        
        &[data-inp-color="white"]{
          background-color: #fff;
        }
        
        &[data-inp-color="black"]{
          background-color: #333;
        }
      }

        


      input{
        z-index: 10;
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;
        margin: 0;
        opacity: 0;
        
        &:checked + b{
          border-color: #739786;
        }
      }

    }
  }

  .size_choice{
    float: left;
    
    &__input{
      display: inline-block;
      min-width: 36px;
      width: auto;
      height: 38px;
      float: left;
      margin: 0 1px;
      position: relative;

      b{
        line-height: 1.9;
        width: 100%;
        display: inline-block;
        padding: 0 3px;
        font-size: 19px;
        color: #90B665;
        text-align: center;
        position: relative;
        z-index: 5;
        background-color: #fff;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        border: 1px solid #cbcbcc;
      }

      input{
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        margin: 0;
        cursor: pointer;
        opacity: 0;
        
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
        &:checked + b{
          border-color: #73964A;
        }
      }
    }
  }
  
  .product_form{
    .size_choice{
      margin-left: 5px;
    }

    .select_box{
      float: left;
      margin-right: 5px;
    }
  }


/*---------------  PLACEHOLDER  --------------*/
  input#inp_::-webkit-input-placeholder{
    color: #73964a;
    font-size: 15px;
    font-family: 'exo_2.0bold';
  }
  input#inp_::-moz-placeholder{
    color: #73964a;
    font-size: 15px;
    font-family: 'exo_2.0bold';
  }
  input#inp_:-moz-placeholder{
    color: #73964a;
    font-size: 15px;
    font-family: 'exo_2.0bold';
  }
  input#inp_:-ms-input-placeholder{
    color: #73964a;
    font-size: 15px;
    font-family: 'exo_2.0bold';
  }

  input::-webkit-input-placeholder{
    transition: all 0.5s ease;
    color: #7f7f7f;
    font-family: 'PT Sans', sans-serif;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  input::-moz-placeholder{
    transition: all 0.5s ease;
    color: #7f7f7f;
    font-family: 'PT Sans', sans-serif;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  input:-moz-placeholder{
    transition: all 0.5s ease;
    color: #7f7f7f;
    font-family: 'PT Sans', sans-serif;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  input:-ms-input-placeholder{
    transition: all 0.5s ease;
    color: #7f7f7f;
    font-family: 'PT Sans', sans-serif;
    opacity: 1;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }

  input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus::-moz-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus:-moz-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  input:focus:-ms-input-placeholder{
    opacity: 0;
    transition: all 0.5s ease;
  }
  /*===  input end    ===*/

  /*===  textarea start  ===*/
  textarea::-webkit-input-placeholder{
    transition: all 0.5s ease;
    color: #7f7f7f;
    font-family: 'PT Sans', sans-serif;
    opacity: 1;
  }
  textarea::-moz-placeholder{
    transition: all 0.5s ease;
    color: #7f7f7f;
    font-family: 'PT Sans', sans-serif;
    opacity: 1;
  }
  textarea:-moz-placeholder{
    transition: all 0.5s ease;
    color: #7f7f7f;
    font-family: 'PT Sans', sans-serif;
    opacity: 1;
  }
  textarea:-ms-input-placeholder{
    transition: all 0.5s ease;
    color: #7f7f7f;
    font-family: 'PT Sans', sans-serif;
    opacity: 1;
  }

  textarea:focus::-webkit-input-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  textarea:focus::-moz-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  textarea:focus:-moz-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  textarea:focus:-ms-input-placeholder{
    transition: all 0.5s ease;
    opacity: 0;
  }
  /*===  textarea end    ===*/




// RESPONSIVE _forms

  @media only screen and (max-width: 995px) {

    
  }
  
  @media only screen and (max-width: 768px) {
    [data-form-row-size="317"]{
      width: 100%;
    }

    [data-form-width="670"]{
      width: 100%;
    }
    
    .form__file{
        
        .form__label + p{
          text-align: left;
        }
    }
    
  }

  @media only screen and (max-width: 550px) {
    
    .select_row__box{
      width: 100%;
    }
  }

  @media only screen and (max-width: 425px) {
    [data-label-size="xs"] + .form__input,
    [data-label-size="sm"] + .form__input,
    [class*='al_right'][data-label-size="md"] + .form__input,
    [data-label-size="md"] + .form__input,
    [data-label-size="lg"] + .form__input,
    .form__input{
      width: 100%;
      margin-left: 0;
    }

    .select_box[data-input-size="xs_115"]{
      margin-bottom: 10px;
    }

    .form__row{
      float: none;
    }

    .form__label.al_right + .form__input{margin-left: 0 !important;}

    .box_padd .checkbox_wrap{padding-left: 0;}
    .promo_code__wrap__btn{top: 0 !important;}

    [data-input-size="xs_55"]{width: 55px;}

    .form__label {text-align: left;}

    .phone_box{
      .form__label{width: 100%;}
      [data-input-size="sm"]{width: auto;}
    }

    .link_vs_arrow{
      margin-left: 0;
    }

    .form{
      
      .btn_2.f_right{
        float: none;
      }
    }

    .form__row_checkbox{
      
      span.font_14{
        width: 100%;
      }

      .rating_row__checkbox{
        margin-bottom: 10px;
        
        &:first-child{
          margin-left: 0;
        }
      }
    }
  }