.title--1{
	font-size: 57px;  //45
	line-height: 1.2;
}

.title--1_2{
	font-size: 39px;
	line-height: 1.1;
}

.title--2{
	font-size: 30px;
	line-height: 1;
}

.title--2_2{
	font-size: 33px;
	line-height: 1;
}

.title--3{
	font-size: 26px;
	line-height: 1;
}

.title--4{
	font-size: 24px;
	line-height: 1;
}

.title--5{
	font-size: 21px;
	line-height: 1;
}

.title--6{
	font-size: 16px;
	line-height: 1.2;
}

.title--7{
	font-size: 15px;
	line-height: 1;
}

.title--8{
	font-size: 14px;
	line-height: 1.2;
}

.title--9{
	font-size: 19px;
	line-height: 1;
}

.mob_title{
	display: none;
	padding-top: 5px;
}

.full_title{
	position: relative;
	margin-top: 30px;
	
	&::before{
		content: "";
		top: -7px;
		bottom: -7px;
		right: 28px;
		left: 28px;
		z-index: 5;
		position: absolute;
		background-color: #F69530;
	}
	
	h6{
		z-index: 10;
		font-weight: normal;
		line-height: 2.5;
		position: relative;
		padding-left: 30px;
		padding-right: 30px;
		background-color: #141414;
		
		&::before{
			content: "";
			left: 17px;
		}
		&::after{
			content: "";
			right: 17px;
		}
		&::before,
		&::after{
			width: 7px;
			height: 7px;
			top: 50%;
			display: block;
			position: absolute;
			background-color: #F69530;
			-webkit-transform: translateY(-4px);
			   -moz-transform: translateY(-4px);
			    -ms-transform: translateY(-4px);
			     -o-transform: translateY(-4px);
			        transform: translateY(-4px);
		}
	}
}

[data-title^="title_icon_"]{
	padding-left: 40px;
	line-height: 1.2; //34px
	padding-top: 12px;
	padding-bottom: 8px;
	font-size: 20px;
}

[data-title="title_icon_weight"]{
	background: url(../../../images/icon/title_icon_1.png) 0% 50% no-repeat;
}

[data-title="title_icon_timer"]{
	background: url(../../../images/icon/title_icon_5.png) 0% 50% no-repeat;
}

[data-title="title_icon_heart"]{
	background: url(../../../images/icon/title_icon_2.png) 0% 50% no-repeat;
}

[data-title="title_icon_dumbbells"]{
	background: url(../../../images/icon/title_icon_4.png) 0% 50% no-repeat;
}

[data-title="title_icon_apple"]{
	background: url(../../../images/icon/title_icon_3.png) 0% 50% no-repeat;
}

[data-title="title_right_icon_dumbbells"]{
	line-height: 2; //34px
	padding-top: 2px;
	text-align: right;
	padding-right: 40px;
	background: url(../../../images/icon/title_icon_6.png) 100% 50% no-repeat;
}



// RESPONSIVE _titles
	@media only screen and (max-width: 1024px) {

		[data-title="title_icon_timer"]{font-size: 17px;}
	}

	@media only screen and (max-width: 1023px) {
		.mob_title{
			display: inline-block;
			width: 100%;
		}
	}

	@media only screen and (max-width: 768px) {
		.title--1{
			font-size: 51px;
		}
	}

	@media only screen and (max-width: 667px) {
		[data-title^="title_icon_"]{
			font-size: 17px;
		}
	}

	@media only screen and (max-width: 480px) {
		.title--1{
			font-size: 41px;
		}

		.main_banner .title--5{
			font-size: 12px;
		}

		.title--1_2{
			font-size: 30px;
		}
	}