@import "_reset.scss";
@import "_base.scss";
/*
	basic font
*/ 

/*
	default project styles
*/ 
@import "_bootstrap.scss";

/*
	blocks component
*/ 
@import "_titles.scss";
@import "_buttons_links.scss";

/*
	components
*/ 
@import "components/_products.scss";
@import "components/_nav.scss";
@import "components/_table.scss";
@import "components/_text_box.scss";
@import "components/_accordion.scss";
@import "components/_filter.scss";
@import "components/_rating.scss";

/*
	plugins
*/ 
@import "plugins/_owl_carousel.scss";
@import "plugins/_star_rating.scss";
@import "plugins/_formstyler.scss";
@import "plugins/_r_tabs.scss";
@import "plugins/_swiper.scss";
@import "plugins/_scrollpane.scss";
@import "plugins/_arcticmodals.scss";


/*
	blocks
*/ 
@import "blocks/_shares_and_news.scss";
@import "blocks/_footer.scss";
@import "blocks/_header.scss";
@import "blocks/_slider.scss";
@import "blocks/_tabs.scss";
@import "blocks/_banners.scss";
@import "_forms.scss";
@import "blocks/_sale.scss";
@import "blocks/_article.scss";
@import "blocks/_modals.scss";


/*
	pages
*/ 
// @import "pages/_profile.scss";

/*
	ie 10-11
*/ 

// @import "components/_ie_style.scss";
